footer.footer
  .inner
    .footer-heading-block
      a(href="").footer-logo-karaden
        img(src="/assets/img/footer-logo.png", alt="")
      a(href="").footer-btn-logo
        img(src="/assets/img/footer-ntt-logo.png", alt="NTTコム　オンライン")
    .footer-nav-block
      .footer-nav
        ul.footer-nav-list
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link SMSのメリット
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link 料金
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link 特長
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link 事例
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link 活用シーン
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link よくある質問
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link 機能
          li.footer-nav-list-item
            a(href="").footer-nav-list-item-link お役立ち情報
      .footer-relational-service-block
        p.footer-relational-service-title 関連サービス
        ul.footer-relational-service-list
          li.footer-relational-service-list-item
            a(href="").footer-relational-service-item-link 法人向けのビデオ通話なら　ビデオトーク
          li.footer-relational-service-list-item
            a(href="").footer-relational-service-item-link 顧客管理システムなら　モバイルウェブ
          li.footer-relational-service-list-item
            a(href="").footer-relational-service-item-link 法人向けのSMS配信なら　 +メッセージ / SMS
      .footer-btn-block
        a(href="").footer-btn.footer-btn--orange 資料請求・お問合せ
        a(href="").footer-btn.footer-btn--green 代理店募集
.footer-bottom-block
  .inner
    ul.footer-bottom-list
      li.footer-bottom-list-item
        a(href="").footer-bottom-list-item-link 会社情報
      li.footer-bottom-list-item
        a(href="").footer-bottom-list-item-link サイトポリシー
      li.footer-bottom-list-item
        a(href="").footer-bottom-list-item-link Webアクセシビリティ
      li.footer-bottom-list-item
        a(href="").footer-bottom-list-item-link 個人情報保護方針
      li.footer-bottom-list-item
        a(href="").footer-bottom-list-item-link 個人情報の取り扱い
    .copyright &copy;&nbsp;NTTCom Online Marketing Solutions Corporation
