header#header.header
  a.header-logo(href="/")
  #nav-toggle
    div
      span
      span
      span
  #global-nav
    .global-nav-wrap
      ul.global-nav-list
        li.global-nav-list-item.global-nav-list-item01
          a.global-nav-list-item-link(href="feature01.html") 特長
        li.global-nav-list-item.global-nav-list-item02
          a.global-nav-list-item-link(href="merit.html") 活用シーン
        li.global-nav-list-item.global-nav-list-item03
          a.global-nav-list-item-link(href="function.html") 機能
        li.global-nav-list-item.global-nav-list-item04
          a.global-nav-list-item-link(href="price.html") 料金
        li.global-nav-list-item.global-nav-list-item05
          a.global-nav-list-item-link(href="scene.html") 事例
        li.global-nav-list-item.global-nav-list-item06
          a.global-nav-list-item-link(href="faq.html") よくある質問
        li.global-nav-list-item.global-nav-list-item07
          a.global-nav-list-item-link(href="") お役立ち情報
      .header-btn-box
        a(href="").header-btn.header-btn--orange 資料請求・お問合せ
        a(href="").header-btn.header-btn--green 代理店募集
      a.btn--close#global-nav-close-btn 
        span
        |close