header#header.header
  a.header-logo
  #nav-toggle
    div
      span
      span
      span
  #global-nav
    .global-nav-wrap
      ul.global-nav-list
        li.global-nav-list-item.global-nav-list-item01
          a.global-nav-list-item-link 特長
        li.global-nav-list-item.global-nav-list-item02
          a.global-nav-list-item-link 活用シーン
        li.global-nav-list-item.global-nav-list-item03
          a.global-nav-list-item-link 機能
        li.global-nav-list-item.global-nav-list-item04
          a.global-nav-list-item-link 料金
        li.global-nav-list-item.global-nav-list-item05
          a.global-nav-list-item-link 事例
        li.global-nav-list-item.global-nav-list-item06
          a.global-nav-list-item-link よくある質問
        li.global-nav-list-item.global-nav-list-item07
          a.global-nav-list-item-link お役立ち情報
      .header-btn-box
        a(href="").header-btn.header-btn--orange 資料請求・お問合せ
        a(href="").header-btn.header-btn--green 代理店募集
      //a.btn--close#global-nav-close-btn CLOSE
//#nav-toggle
  div
    span
    span
    span
//#gloval-nav
  .gloval-nav-wrap
    ul.gloval-nav-list
      li.gloval-nav-list-item.gloval-nav-list-item01
        a.target 特長
        .gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
      li.gloval-nav-list-item.gloval-nav-list-item02
        a.target 活用シーン
        //.gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
      li.gloval-nav-list-item.gloval-nav-list-item03
        a.target 機能
        //.gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
      li.gloval-nav-list-item.gloval-nav-list-item04
        a 料金
      li.gloval-nav-list-item.gloval-nav-list-item05
        a 事例
      li.gloval-nav-list-item.gloval-nav-list-item06
        a よくある質問
      li.gloval-nav-list-item.gloval-nav-list-item07
        a お役立ち情報
    a.btn--close#gloval-nav-close-btn CLOSE