header.header
  a.header-logo
    img(src="/assets/img/header-logo.png", alt="")
  ul.nav-list
    li.nav-list-item 
      a.nav-list-item-link 特長
    li.nav-list-item 
      a.nav-list-item-link 活用シーン
    li.nav-list-item 
      a.nav-list-item-link 機能
    li.nav-list-item 
      a.nav-list-item-link 料金
    li.nav-list-item 
      a.nav-list-item-link 事例
    li.nav-list-item 
      a.nav-list-item-link よくある質問
    li.nav-list-item 
      a.nav-list-item-link お役立ち情報
  .header-btn-box
    a(href="").header-btn.header-btn--orange 資料請求・お問合せ
    a(href="").header-btn.header-btn--green 代理店募集
//if pagename=='index'
  
  #nav-toggle
    div
      span
      span
      span
//else
  a.logo(href="/") 
  #nav-toggle.scroll-nav
    div
      span
      span
      span
//#gloval-nav
  .gloval-nav-wrap
    .nav-heading-block
      .nav-heading 
      span.nav-heading--small STORE  GALLERY  STUDIO
    ul.gloval-nav-list
      li.gloval-nav-list-item.gloval-nav-list-item01
        a.target STORE
        .gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
      li.gloval-nav-list-item.gloval-nav-list-item02
        a.target GALLERY 
        .gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
      li.gloval-nav-list-item.gloval-nav-list-item03
        a.target STUDIO
        .gloval-nav-list--child
          .gloval-nav-list-inner
            .gloval-nav-list-item--child
              a(href="")
                | TOP
            .gloval-nav-list-item--child
              a(href="")
                | INFORMATION
            .gloval-nav-list-item--child
              a(href="")
                | SPACE
            .gloval-nav-list-item--child
              a(href="")
                | EQUIPMENT
            .gloval-nav-list-item--child
              a(href="")
                | PRICE
            .gloval-nav-list-item--child
              a(href="")
                | USE
            .gloval-nav-list-item--child
              a(href="")
                | SCHEDULE
            .gloval-nav-list-item--child
              a(href="")
                | CONTACT
    a.btn--close#gloval-nav-close-btn CLOSE