.section-mainvisual{
  width: 100%;
  @include min {
  }
  @include min-max{
  }
  @include max{
  }
}
.section-infomation{
  background: #F5F7FA;
  width: 100%;
  @include min {
    padding: 64px 0;
  }
  @include min-max{
  }
  @include max{
  }
}
.section-merit{
  position: relative;
  background: #F5F7FA;
  z-index: 1;
  text-align: center;
  @include min {
    padding: 100px 0 120px;
  }
  @include min-max{
  }
  @include max{
  }
  &::before{
    content: "";
    position: absolute;
    background: #E6EBF4;
    @include min {
      width: 100%;
      height: 100%;
      top: 0;
      left: -80px;
      z-index: -1;
      border-radius: 0 8px 0 0;
    }
    @include min-max{
    }
    @include max{
    }
  }
}

.section-feature{
  position: relative;
  z-index: 1;
  background: #E6EBF4;
  @include min {
    padding: 100px 0 120px;
  }
  @include min-max{
  }
  @include max{
  }
  &::before{
    content: "";
    position: absolute;
    background: #F5F7FA;
    @include min {
      width: 100%;
      height: 100%;
      top: 0;
      right: -80px;
      z-index: -1;
      border-radius: 8px 0 0 0 ;
    }
    @include min-max{
    }
    @include max{
    }
  }
}
.section-function{
  position: relative;
  background: #F5F7FA;
  z-index: 1;
  @include min {
    padding: 100px 0 120px;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0 ;
  }
  &::before{
    content: "";
    position: absolute;
    background: #E6EBF4;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    @include min {
      left: -80px;
      border-radius: 0 8px 0 0;
    }
    @include min-max{
      left: spvw(-20);
      border-radius: 0 spvw(8) 0 0;
    }
    @include max{
    }
  }
}
.section-scene{
  position: relative;
  z-index: 1;
  background: #E6EBF4;
  overflow: hidden;
  @include min {
    padding: 100px 0 139px;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0 ;
  }
  &::before{
    content: "";
    position: absolute;
    background: #F5F7FA;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    @include min {
      /* top: -395px; */
      left: -80px;
      border-radius: 0 8px 0 0 ;
    }
    @include min-max{
    } 
    @include max{
    }
  }
  &::after{
    content: "";
    position: absolute;
    background: #E6EBF4;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include min {
      height: 395px;
    }
    @include min-max{
    } 
    @include max{
    }
  }
}
.section-result{
  position: relative;
  z-index: 0;
  background: #E6EBF4;
  overflow: hidden;
  @include min {
    padding: 100px 0 139px;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(106) 0 spvw(120);
  }
  &::before{
    content: "";
    position: absolute;
    background: #F5F7FA;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    @include min {
      left: -80px;
      border-radius: 0 8px 0 0 ;
    }
    @include min-max{
      left: spvw(-20);
      border-radius: 0 spvw(8) 0 0 ;
    } 
    @include max{
    }
  }
  &::after{
    content: "";
    position: absolute;
    background: #E6EBF4;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include min {
      height: 395px;
    }
    @include min-max{
    } 
    @include max{
      height: spvw(541);
    }
  }
}
.section-example{
  position: relative;
  z-index: 1;
  background: #E6EBF4;
  overflow: hidden;
  @include min {
    padding: 120px 0 ;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0;
  }
  &::before{
    content: "";
    position: absolute;
    background: #3A5D9F;
    width: 100%;
    height: 50%;
    top: 0;
    left: 0;
    z-index: -1;
    @include min {
    }
    @include min-max{
    } 
    @include max{
    }
  }
  &::after{
    content: "";
    position: absolute;
    background: #E6EBF4;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -2;
    @include min {
      height: 395px;
    }
    @include min-max{
    } 
    @include max{
      height: spvw(684);
    }
  }
}
.section-usefulcontents{
  position: relative;
  z-index: 1;
  background: #E6EBF4;
  @include min {
    padding: 100px 0 120px;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0;
  }
  &::before{
    content: "";
    position: absolute;
    background: #F5F7FA;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    @include min {
      right: -80px;
    }
    @include min-max{
    } 
    @include max{
      right: spvw(-20);
      border-radius: spvw(4) 0 0 0 ;
    }
  }
}
.section-faq{
  background: #E6EBF4;
  @include min {
    padding: 120px 0;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0 spvw(120);
  }
}
.section-contact{
  background: url(/assets/img/contact-bg.png)no-repeat center center;
  background-size: cover;
  @include min {
    padding: 100px 0 120px;
  }
  @include min-max{
  }
  @include max{
    padding: spvw(120) 0 spvw(100);
  }
}