
doctype html
- var page = 'faq'
- var keywords = ''
- var description = ''
- var title = ''
html(lang='ja')
  include inc/_head
  body#faq
    include inc/_gtm
    .wrapper
      include inc/_header
      section#mainvisual.section.section-mainvisual
        .mainvisual-block.mainvisual-block--lower.mainvisual-block--faq
          ul.breadcrumb
            li.breadcrumb-item
              a(href="") 空電プッシュ
            li.breadcrumb-item
              span よくある質問
          h1.page-heading よくある質問
      section#faq.section.section-faq
        .inner
          .faq-block.pcmt0.spmt0
            .item
              .question
                span Q1
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q2
                p.text.text-question 「送信元（From）」はアルファベット文字なども利用できますか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q3
                p.text.text-question 「送信元電話番号（From）」は指定できますか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q4
                p.text.text-question 送信文字数は何文字ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q5
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q6
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q7
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q8
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
      section#contact.section.section-contact
        .inner
          h2.section-heading.font-white お問合せ
          p.section-lead.section-lead--contact.font-white 空電プッシュは、国内シェアNo.1の
            br.sp
            |法人向けSMS送信サービスです。
            br
            |ご不明な点はお気軽にお問い合わせください。
            br
            |利用用途や配信数に応じて最適なご提案をいたします。
          .contact-block
            a(href="").contact-btn.pcmt70 資料請求・お問合せ
            a(href="").agency-btn 代理店募集
      include inc/_footer
    