
doctype html
- var page = 'feaure03'
- var keywords = ''
- var description = ''
- var title = ''
html(lang='ja')
  include inc/_head
  body#feature
    include inc/_gtm
    .wrapper
      include inc/_header
      section#mainvisual.section.section-mainvisual
        .mainvisual-block.mainvisual-block--lower.mainvisual-block--feature.mainvisual-block--withbtn
          ul.breadcrumb
            li.breadcrumb-item
              a(href="") 空電プッシュ
            li.breadcrumb-item
              span 特長
          h1.page-heading.page-heading--withbtn 特長
          p.page-text テキストテキストテキストテキストテキストテキストテキストテキスト
          .c-btn.c-btn--mainvisual.pcmt30.spmt30 SMSについて詳しく知る
      section.feature-page-nav-block 
        .item 
          a(href="") 高品質・
            br.sp
            |セキュリティ
        .item 
          a(href="") 高い送信性能と圧倒的な到達率
        .item.current
          a(href="") スピード導入と充実のサポート
      section.section-grey
        .inner
          h2.section-heading.section-heading-sp2line スピード導入と充実のサポート
          p.section-lead.pcmt10.spmt20 （最短3営業日での3ステップ）
          .introduction-flow-block
            .item 
              .number STEP
                //span 01
                svg(xmlns='http://www.w3.org/2000/svg' width='83.924' height='79.076' viewBox='0 0 83.924 79.076')
                  path.cls-2(d='M6.12-37.215c0,10.019,1.293,16.052,4.2,20.469C14.415-10.5,20.341-7.8,29.714-7.8c8.726,0,14.221-2.262,18.422-7.649,3.663-4.633,5.171-10.881,5.171-21.762V-57.469c0-9.911-1.293-16.052-4.2-20.469-4.094-6.249-10.019-8.942-19.392-8.942-8.726,0-14.221,2.262-18.422,7.649C7.628-74.6,6.12-68.35,6.12-57.469Zm33.29-1.293c0,14.329-2.478,19.284-9.7,19.284s-9.7-5.063-9.7-19.284V-56.176c0-14.221,2.586-19.284,9.7-19.284,7.218,0,9.7,4.956,9.7,19.284ZM75.931-8.881H90.044V-85.8H80.671L59.232-76.861,63.65-66.087l12.282-5.171Z' transform='translate(-6.12 86.88)')
              h3.title お申し込み手続き
              p.text ①空電プッシュ御申込書（社印押印）
                br
                |②設定内容確認書
                br
                |を当社に送付いただきます。
            .item 
              .number STEP 
                //span 02
                svg(xmlns='http://www.w3.org/2000/svg' width='103.424' height='79.184' viewBox='0 0 103.424 79.184')
                  path.cls-2(d='M6.12-37.227c0,10.019,1.293,16.052,4.2,20.469,4.094,6.249,10.019,8.942,19.392,8.942,8.726,0,14.221-2.262,18.422-7.649C51.8-20.1,53.307-26.346,53.307-37.227V-57.481c0-9.911-1.293-16.052-4.2-20.469-4.094-6.249-10.019-8.942-19.392-8.942-8.726,0-14.221,2.262-18.422,7.649C7.628-74.611,6.12-68.362,6.12-57.481ZM39.41-38.52c0,14.329-2.478,19.284-9.7,19.284s-9.7-5.063-9.7-19.284V-56.188c0-14.221,2.586-19.284,9.7-19.284,7.218,0,9.7,4.956,9.7,19.284ZM63-8.893h46.541V-20.421H81.426L93.276-34.965C102-45.523,102-45.523,104.7-50.048a31.18,31.18,0,0,0,4.74-16.375C109.436-79.674,101.572-87,87.459-87,72.7-87,64.619-79.782,63.65-65.777l12.928.97a16.123,16.123,0,0,1,2.155-6.141c1.831-3.232,4.094-4.525,8.188-4.525,5.6,0,8.511,2.909,8.511,8.4a22.572,22.572,0,0,1-2.047,9.05,100.7,100.7,0,0,1-8.942,13.574L63-18.051Z' transform='translate(-6.12 87)')
              h3.title 空電プッシュ開通の
                br
                |ご案内を通知
              p.text 契約者マイページのログインIDを発行します。
                br
                |サービス利用に必要な情報は契約者マイページ内で確認いただけます。
            .item 
              .number STEP 
                //span 03
                svg(xmlns='http://www.w3.org/2000/svg' width='104.393' height='79.076' viewBox='0 0 104.393 79.076')
                  path.cls-2(d='M6.12-37.215c0,10.019,1.293,16.052,4.2,20.469C14.415-10.5,20.341-7.8,29.714-7.8c8.726,0,14.221-2.262,18.422-7.649,3.663-4.633,5.171-10.881,5.171-21.762V-57.469c0-9.911-1.293-16.052-4.2-20.469-4.094-6.249-10.019-8.942-19.392-8.942-8.726,0-14.221,2.262-18.422,7.649C7.628-74.6,6.12-68.35,6.12-57.469Zm33.29-1.293c0,14.329-2.478,19.284-9.7,19.284s-9.7-5.063-9.7-19.284V-56.176c0-14.221,2.586-19.284,9.7-19.284,7.218,0,9.7,4.956,9.7,19.284Zm37.707-5.387H83.9c7.541,0,12.6,5.279,12.6,13.036,0,7.434-3.771,11.635-10.558,11.635-6.356,0-9.911-3.232-10.881-9.911L61.818-27.519C62.788-14.376,70.975-7.8,86.489-7.8c15.945,0,24.025-7.649,24.025-22.732,0-9.373-2.693-14.329-10.342-18.961,6.249-3.878,8.511-8.3,8.511-16.375,0-13.682-7.757-21.008-22.085-21.008-14.221,0-21.762,6.249-22.839,18.961l12.5.97c.97-5.494,4.309-8.511,9.588-8.511,5.6,0,8.834,3.663,8.834,10.127,0,6.572-4.309,10.45-11.635,10.45H77.116Z' transform='translate(-6.12 86.88)')
              h3.title ご利用開始
              p.text 操作マニュアルなどは管理画面よりダウンロード可能です。
          h2.section-heading.pcmt120.spmt120 導入までの流れ
          p.section-lead.pcmt10.spmt10 導入前も導入後も専任担当者がきめ細やかにサポート。24時間365日電話での故障問い合わせ窓口など、お客様のサービスをしっかり支えます。
          .support-block 
            .item
              h3.title 専任担当者による導入前サポート
              p.text お客様1社毎に営業担当者が一人つき申込みから導入後までサポートします。
            .item
              h3.title 24時間365日の電話対応
              p.text 故障発生時などの緊急時は電話での受付ですぐに状況が確認いただけます。
            .item
              h3.title テクニカルサポート
              p.text テクニカルなご質問に関しては技術担当が直接、迅速に回答します。
            .item
              h3.title 電気通信サービス
              p.text 電気通信事業法に準拠した運用方針により、安全な運用を実施しております。
            .item
              h3.title NTTグループのノウハウ
              p.text 大手通信事業者の運用ノウハウとNTTグループの信頼性でアライアンスパートナーとして安心してお取引頂けます。
      section.section-blue-left
        .inner
          .customers-voice-block
            img(src="assets/img/customers-voice-img03.png", alt="株式会社ジェーシービー")
            .text-box  
              .title お客様の声
              .name 
                span.logo.logo-jcb
                  img(src="assets/img/JCB-logo.png", alt="株式会社ジェーシービー")
                |株式会社ジェーシービー様
              .text 細やかなサービスがありがたかったですね。
                br
                |初めてのことでしたから「ここまでがパッケージです」と区切られてしまったり、相談しても「それはサポートセンターへ」と言われたりすると困ってしまう。空電プッシュでは柔軟にご対応いただけましたし、不明点も営業の方が窓口になって、都度丁寧にご回答くださった。導入に向けて、みなさんに 寄り添い支えていただいたと思っております。
      section#contact.section.section-contact 
        .inner
          h2.section-heading.font-white お問合せ
          p.section-lead.section-lead--contact.font-white 空電プッシュは、国内シェアNo.1の
            br.sp
            |法人向けSMS送信サービスです。
            br
            |ご不明な点はお気軽にお問い合わせください。
            br
            |利用用途や配信数に応じて最適なご提案をいたします。
          .contact-block
            a(href="").contact-btn.pcmt70 資料請求・お問合せ
            a(href="").agency-btn 代理店募集
      include inc/_footer
    