
doctype html
- var page = 'index'
- var keywords = ''
- var description = ''
- var title = ''
html(lang='ja')
  include inc/_head
  body#top
    include inc/_gtm
    .wrapper
      include inc/_header
      section#sectionTop.section
        .inner
      include inc/_footer
    