html{
  font-size: 62.5%;
}

img{
  @include min{
    width: 100%;
  }
  @include max{
    width: 100%;
  }
}
strong {
  font-weight: bold!important;
}
.font-color{
  color: #000000!important;
}
.font-white{
  color: #ffffff!important;
}
.text-left{
  text-align: left!important;
}
.text-left-pc{
  @include min {
    text-align: left!important;
  }
}
body{
  width: 100%;
  font-family: $default-font;
  font-size: 1.6rem;
  position: relative;
  @include min {
    min-width: 1240px;
  }
  @include max{
  }
}
body.open{
  overflow: hidden;
}

.inner{
  margin: 0 auto;
  text-align: center;
  @include min {
    max-width: 1160px;
  }
  @include max{
    padding: 0 spvw(40);
  }
}
.wrapper {
  width: 100%;
  position: relative;
  display: block;
  overflow: hidden;
  @include min {
  }
  @include max{
    overflow-x: hidden;
  }
}


.content{
  @include min{
    margin: 80px auto 0;
  }
  @include min-max{
    margin: pcvw(80) auto 0;
  }
  @include max{
    margin: spvw(80) auto spvw(100);
  }
}

html {
  visibility: hidden;
 }
 
 html.wf-active {
  visibility: visible;
 }