
.footer{
  background-color: #ffffff;
  @include min {
    padding: 40px 0 40px;
  }
  @include max{
    padding: spvw(49.1) 0 spvw(80);
  }
}
.footer-nav-block{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  @include min {
  }
  @include max{
    flex-wrap: wrap;
  }
}
.footer-nav{
  @include min {
    text-align: left;
  }
  @include max{
    text-align: left;
  }
}
.footer-logo-karaden{
  display: inline-block;
  @include min {
    width: 211.34px;
    height: 28px;
  }
  @include max{
    width: spvw(302);
    height: spvw(40);
  }
}
.footer-nav-list{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include min {
    width: 400px;
    margin-top: 23px;
  }
  @include max{
    width: 100%;
    margin-top: spvw(30);
  }
}
.footer-nav-list-item{
  text-align: left;
  height: auto;
  @include min {
    width: 200px;
  }
  @include max{
    font-size: spvw(24);
    width: 50%;
    line-height: 2.66666667;
  }
}
.footer-nav-list-item-link{
  font-weight: 500;
  display: inline-block;
  @include min {
    font-size: 16px;
    padding: 10px 0;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  @include max{
    font-size: spvw(24);
  }
  &:hover{
    @include min {
      opacity: .6;
      transition: all .3s;
    }
    @include max{
    }
  }
}
.footer-relational-service-block{
  @include min {
    text-align: left;
    margin-right: 226px;
    margin-top: 50px;
  }
  @include max{
    margin-top: spvw(20);
  }
}
.footer-relational-service-title {
  color: #838383;
  font-weight: 500;
  @include min {
    font-size: 16px;
    line-height: 2;
  }
  @include max{
    font-size: spvw(24);
    line-height: 2.66666667;
    text-align: left;
  }
}
.footer-relational-service-list{
  text-align: left;
  @include min {
    width: 365px;
  }
  @include max{
    width: 100%;
  }
}
.footer-relational-service-list-item{
  position: relative;
  text-align: left;
  display: inline-block;
  padding: 0 0 0 1em;
  @include min {
    line-height: 2;
    font-size: 16px;
  }
  @include max{
    font-size: spvw(24);
    line-height: 2.66666667;
  }
  &::before{
    content: "・";
    position: absolute;
    color: #000000;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    @include min {
    }
    @include max{
    }
  }
}
.footer-relational-service-item-link{
  color: #000000;
  @include min {
    font-size: 16px;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  @include max{
    font-size: spvw(24);
  }
  &:hover{
    @include min {
      opacity: .6;
      transition: all .3s;
    }
    @include max{
    }
  }
}
.footer-btn-block{
  @include min {
    width: 200px;
    margin-top: 6px;
  }
  @include max{
    width: spvw(430);
    margin: spvw(70) auto 0;
  }
}
.footer-btn-logo{
  font-size: 0;
  @include min {
    width: 200px;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  @include max{
    width: spvw(430);
  }
  &:hover{
    @include min {
      opacity: .6;
      transition: all .3s;
    }
    @include max{
    }
  }
}
.footer-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  @include min {
    width: 200px;
    height: 48px;
    border-radius: 48px;
    font-size: 16px;
  }
  @include max{
    height: spvw(88);
    width: spvw(430);
    font-size: spvw(28);
    border-radius: spvw(44);
    margin-top: spvw(48);
    padding-bottom: spvw(3);
  }
}
.footer-btn--orange{
  background: #FF7F00;
  @include min {
    margin-top: 39px;
    transition: all .3s;
    border: solid 2px #FF7F00;
  }
  @include max{
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #FF7F00;
    }
    @include max{
    }
  }
}
.footer-btn--green{
  background: #11C97B;
  @include min {
    margin-top: 24px;
    transition: all .3s;
    border: solid 2px #11C97B;
  }
  @include max{
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #11C97B;
    }
    @include max{
    }
  }
}
.footer-bottom-block{
  background-color: $theme-color;
  @include min {
    padding: 30px 0;
  }
  @include max{
    padding: spvw(40) 0 spvw(46);
  }
  >.inner{
    position: relative;
    @include min {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    @include max{
    }
  }
}
.footer-bottom-list{
  display: flex;
  font-size: 0;
  @include min {
    justify-content: flex-start;
  }
  @include max{
    justify-content: center;
    flex-wrap: wrap;
  }
}
.footer-bottom-list-item{
  position: relative;
  line-height: 1;
  @include min {
    padding: 0 14px 0 0;
    margin: 0 14px 0 0;
  }
  @include max{
    padding: 0 spvw(20) 0 0;
    margin: 0 spvw(20) spvw(30) 0;
  }
  &:last-child{
    &::before{
      content: none;
    }
  }
  &:nth-child(3){
    &::before{
      @include max{
        content: none;
      }
    }
  }
  &::before{
    content: "";
    position: absolute;
    height: 100%;
    background: #ffffff;
    line-height: 0;
    @include min {
      right: 0;
      top: 1px;
      width: 0.8px;
    }
    @include max{
      right: 0;
      top: 1px;
      width: 1px;
    }
  }
}
.footer-bottom-list-item-link{
  color: #FFFFFF;
  font-weight: 400;
  @include min {
    line-height: 1;
    font-size: 14px;
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  @include max{
    font-size: spvw(20);
  }
  &:hover{
    @include min {
      opacity: .6;
      transition: all .3s;
    }
    @include max{
    }
  }
}
.copyright{
  line-height: 1;
  color: #FFFFFF;
  font-weight: 400;
  @include min {
    font-size: 16px;
  }
  @include max{
    margin-top: spvw(28);
    font-size: spvw(20);
  }
}