.mainvisual-block{
  width: 100%;
  @include min {
    background: url(../img/mainvisual-bg.png)no-repeat center center;
    background-size: cover;
  }
  @include max{
    background: url(../img/mainvisual-bg-sp.png)no-repeat center center;
    background-size: cover;
  }
}
.mainvisual-block--lower{
  @include min {
    padding: 123px 40px 150px;
  }
  @include max{
    position: relative;
    padding: spvw(178) spvw(40) spvw(173);
  }
}
.mainvisual-block--faq,.mainvisual-block--price{
  @include min {
    padding: 123px 40px 169px;
  }
  @include max{
    
    padding: spvw(178) spvw(40) spvw(173);
  }
}
.mainvisual-block--withbtn{
  text-align: center;
  @include min {
    padding: 123px 40px 90px;
  }
  @include max{
    
    padding: spvw(148) spvw(40) spvw(100);
  }
}
.mainvisual-block--top{
  @include min {
    height: 720px;
    padding-top: 239px;
  }
  @include max{
    padding-bottom: spvw(602);
    padding-top: spvw(140);
  }
  >.inner{
    position: relative;
  }
  .lead{
    font-weight: bold;
    text-align: left;
    color: #FFFFFF;
    @include min {
      font-size: 28px;
      line-height: 1;
      letter-spacing: 1.4px;
    }
    @include max{
      font-size: spvw(32);
      /* line-height: 1.46875; */
      letter-spacing: spvw(1.5625);
    }
  }
  .title{
    @include min {
      width: 477px;
      height: 88px;
      margin-left: 3px;
      margin-top: 34px;
    }
    @include max{
      width: spvw(540);
      height: spvw(98);
      margin-top: spvw(32);
    }
  }
  .text{
    font-weight: 500;
    text-align: left;
    color: #FFFFFF;
    @include min {
      font-size: 22px;
      margin-top: 34px;
      line-height: 2.18;
    }
    @include max{
      font-size: spvw(30);
      line-height: 1.8666666667;
      margin-top: spvw(39);
      /* letter-spacing: -0.01em; */
      word-break: keep-all;
    }
  }
  .mainvisual-img-smartphone{
    position: absolute;
    background: url(../img/mainvisual-img-bg.png)no-repeat center center;
    background-size: cover;
    @include min {
      width: 362px;
      height: 706px;
      top: -141px;
      right: 251px;
    }
    @include max{ 
      width: spvw(362);
      height: spvw(706);
      top: spvw(363);
      left: spvw(40);
    }
  }
  .mainvisual-img-award{
    position: absolute;
    @include min {
      width: 219px;
      height: 378px;
      top: -39px;
      right: 12px;
    }
    @include max{
      width: spvw(305);
      height: spvw(504);
      top: spvw(416);
      right: spvw(41.8);
    }
  }
}
.company-block{
  display: flex;
  align-items: center;
  @include min {
    padding: 65px 0 63px;
    justify-content: center;
    /* justify-content: space-around; */
  }
  
  @include max{
    padding: spvw(75) 0 spvw(30);
    flex-wrap: wrap;
    justify-content: space-between;
  }
  >.item{
    @include min {
      height: 74px;
      width: 187px;
      margin: 0 19px;
    }
    @include max{
      height: spvw(75);
      width: spvw(187);
    }
  }
}

.infomation-block{
  @include min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @include max{
  }
  >.title{
    color: $theme-color;
    font-family: $urw-din-font;
    font-weight: 500;
    @include min {
      font-size: 32px;
      margin-right: 80px;
    }
    @include max{
      font-size: spvw(40);
      text-align: left;
    }
  }
  >.list {
    @include min {
      text-align: left;
    }
    @include max{
      margin-top: spvw(30);
    }
  }
  .item{
    width: 100%;
    @include min {
      font-size: 16px;
      margin-top: 16px;
    }
    @include max{
      font-size: spvw(24);
      margin-top: spvw(24);
    }
    &:first-child{
      margin: 0;
    }
    >a{
      opacity: 1;
      transition: all .3s;
      cursor: pointer;
      text-align: left;
      @include min{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
      }
      @include max{
      }
      &:hover{
        @include min {
          opacity: .6;
          transition: all .3s;
        }
        @include max{
        }
      }
    }
  }
  .date{
    font-weight: bold;
    @include min {
      margin-right: 1em;
      line-height: 2;
    }
    @include max{
      line-height: 1.666666667;
      text-align: left;
      font-size: spvw(24);
    }
  }
  .text{
    @include min {
      line-height: 2;
    }
    @include max{
      line-height: 1.666666667;
      text-align: left;
      font-size: spvw(24);
    }
  }
}
.merit-block{
  @include min {
    max-width: 1352.29px;
    width: 100%;
    min-width: 1160px;
    margin: -5px auto 5px;
  }
  @include max{
    max-width:spvw(732);
    height: spvw(780);
    text-align: left;
    margin: spvw(70) auto 0 0;
  }
}
.feature-block {
  @include min {
    margin-top: 126px;
  }
  @include max{
  }
  >.item {
    position: relative;
    @include min {
      padding: 25px 40px;
      margin-top: 75px;
    }
    @include max{
      margin-top: spvw(70);
    }
    &::before{
      content: "";
      position: absolute;
      z-index: -1;
      @include min {
        width: 580px;
        height: 400px;
      }
      @include max{
        width: spvw(670);
        height: spvw(462);
        transform: translateX(-50%);
        left: 50%;
        /* top: spvw(80); */
        bottom: spvw(312);
      }
    }
    &:nth-child(1){
      position: relative;
      @include min {
        padding-right: 520px;
      }
      @include max{
      }
      &::before{
        background: url(../img/top-feature-img01.png)no-repeat center center;
        background-size: contain;
        @include min {
          right: 0;
          top: 0;
        }
        @include max{
          margin-top: spvw(110);
        }
      }
      .text-box{
        @include min {
          border-radius: 48px 4px 48px 48px;
        }
        @include max{
        }
        &::before{
          content: "01";
          @include min {
            left: 34.1px;
            top: 0.1px;
          }
          @include max{
          }
        }
      }
    }
    &:nth-child(2){
      @include min {
        padding-left: 520px;
      }
      @include max{
      }
      &::before{
        background: url(../img/top-feature-img02.png)no-repeat center center;
        background-size: contain;
        @include min {
          left: 0;
          top: 0;
        }
        @include max{
        }
      }
      .title{
        @include min {
          padding-left: 100px;
        }
        @include max{
        }
      }
      .text-box{
        @include min {
          border-radius: 4px 48px 48px 48px;
        }
        @include max{
        }
        &::before{
          content: "02";
          @include min {
            right: 34.1px;
            top: 0.1px;
          }
          @include max{
          }
        }
      }
    }
    &:nth-child(3){
      @include min {
        padding-right: 520px;
      }
      @include max{
      }
      &::before{
        background: url(../img/top-feature-img03.png)no-repeat center center;
        background-size: contain;
        @include min {
          right: 0;
          top: 0;
        }
        @include max{
          bottom: spvw(360);
        }
      }
      .text-box{
        @include min {
          border-radius: 48px 4px 48px 48px;
        }
        @include max{
        }
        &::before{
          content: "03";
          @include min {
            left: 34.1px;
            top: 0.1px;
          }
          @include max{
          }
        }
      }
    }
  }
  .title{
    font-weight: bold;
    color: #1a1a1a;
    @include min {
      font-size: 40px;
      padding-left: 23px;
      text-align: left;
      line-height: 1.6;
      letter-spacing: -0.8px;
    }
    @include max{
      font-size: spvw(40);
      line-height: 1.6;
      text-align: center;
      line-height: 1.5;
    }
  }
  .text-box{
    background: #fff;
    position: relative;
    z-index: 1;
    @include min {
      width: 600px;
      height: 296px;
      padding: 35px 40px 48px 48px;
      margin-top: 30px;
      /* box-shadow */
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);
      border-radius: 4px 40px 40px 40px;
    }
    @include max{
      width: spvw(590);
      /* height: spvw(392); */
      padding: spvw(40) spvw(40) spvw(48);
      /* box-shadow */
      margin: spvw(430) auto 0;
      box-shadow: spvw(6) spvw(6) spvw(16) 0px rgba(33, 78,150,0.16);
      border-radius: spvw(4) spvw(40) spvw(40) spvw(40);
    }
    &::before{
      content: "";
      position: absolute;
      color: #F4F5F7;
      z-index: -1;
      font-weight: 500;
      font-family: $roboto-font;
      line-height: 1;
      @include min {
        font-size: 115px;
      }
      @include max{
        font-size: spvw(120);
        left: spvw(28);
        top: spvw(10);
      }
    }
  }
  .text{
    text-align: left;
    @include min {
      font-size: 16px;
      line-height: 2.5;
    }
    @include max{
      line-height: 2em;
      font-size: spvw(24);
    }
  }
  .c-btn{
    @include max{
      margin: 0 auto;
    }
  }
}
.function-block{
  display: flex;
  align-items: flex-start;
  @include min {
    margin-top: 70px;
    justify-content: center;
  }
  @include max{
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: spvw(30) auto 0;
  }
  >.item{
    @include min {
      height: 154px;
      margin: 0 10px;
    }
    @include max{
      width: 33%;
      margin-top: spvw(40);
    }
    .function-img{
      @include min {
      }
      @include max{
        display: inline-block;
      }
    }
    &:nth-child(-n+3){
      @include max{
        margin-top: 0;
      }
    }
    &:nth-child(1){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 76.67px;
          height: 87px; */
        }
        @include max{
          width: spvw(170);
          height: spvw(187);
        }
      }
    }
    &:nth-child(2){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 80px;
          height: 68px; */
        }
        @include max{
          width: spvw(175);
          height: spvw(156);
        }
      }
    }
    &:nth-child(3){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 76px;
          height: 80px; */
        }
        @include max{
          width: spvw(169);
          height: spvw(175);
        }
      }
    }
    &:nth-child(4){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 86px;
          height: 76px; */
        }
        @include max{
          width: spvw(185);
          height: spvw(169);
        }
      }
    }
    &:nth-child(5){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 72px;
          height: 82px; */
        }
        @include max{
          width: spvw(163);
          height: spvw(179);
        }
      }
    }
    &:nth-child(6){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
         /*  width: 79.4px;
          height: 66px; */
        }
        @include max{
          width: spvw(174);
          height: spvw(153);
        }
      }
    }
    &:nth-child(7){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
          /* width: 80px;
          height: 68px; */
        }
        @include max{
          width: spvw(175);
          height: spvw(156);
        }
      }
    }
    &:nth-child(8){
      @include min {
      }
      @include max{
      }
      .function-img{
        @include min {
         /*  width: 76.8px; */
         /*  height: 76.8px; */
        }
        @include max{
          width: spvw(170);
          height: spvw(169);
        }
      }
    }
  } 
  .img-box{
    @include min {
      height: 87px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @include max{
      height: spvw(187);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .text{
    font-weight: bold;
    display: flex;
    justify-content: center;
    @include min {
      font-size: 18px;
      line-height: 1.5em;
      height: 55px;
      margin-top: 17px;
      align-items: center;
    }
    @include max{
      font-size: spvw(28);
      line-height: 1.57142857;
      /* height: spvw(85); */
      align-items: flex-start;
    }
  }
}
.scene-block{
  position: relative;
  @include min {
    margin-top: 75px;
  }
  @include max{
    margin-top: spvw(80);
  }
  .swiper-slide-scene-img{
    @include max{
      z-index: -3;
    }
  }
  .swiper-container-scene {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    @include min{
      margin-top: 48px;
      overflow: hidden;
    }
    @include max{
      margin-top: spvw(60);
    }
  }
  .swiper-slide {
    flex-shrink: 0;
    width: 100%;
    height: auto;
    position: relative;
    @include min{
      padding-bottom: 228px;
    }
    &.swiper-slide01{
      .text-box{
        @include min {
          /* box-shadow */
          box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.16);
        }
        /* @include max{
          
        } */
      }
    }
    &.swiper-slide03{
      .text-box{
        @include max{
          margin-top: spvw(330);
        }
      }
    }
    &.swiper-slide04{
      .text-box{
        @include max{
          margin-top: spvw(210);
        }
      }
    }
    &.swiper-slide05{
      .text-box{
        @include max{
          margin-top: spvw(210);
        }
      }
    }
    &.swiper-slide07{
      .text-box{
        @include max{
          margin-top: spvw(210);
        }
      }
    }
    &.swiper-slide08{
      .text-box{
        @include max{
          margin-top: spvw(210);
        }
      }
    }
    &.swiper-slide09{
      .text-box{
        @include max{
          margin-top: spvw(210);
        }
      }
    }
    &.swiper-slide11{
      .text-box{
        @include max{
          margin-top: spvw(291);
        }
      }
    }
  }
  .swiper-button-prev-scene,
  .swiper-button-next-scene {
    position: absolute;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    @include min{
      top: 50%;
      width: 64px;
      height: 64px;
      margin-top: -104px;
      /* box-shadow */
      box-shadow: 6px 6px 16px 0px rgba(0,53,129,0.32);
    }
    @include max{
      top: spvw(680);
      width: spvw(88);
      height: spvw(88);
      margin-top: spvw(-70);
      /* box-shadow */
      box-shadow: spvw(6) spvw(6) spvw(16) 0px rgba(0,53,129,0.32);
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    right: auto;
    @include min{
      left: -32px;
    }
    @include max{
      left: spvw(-20);
    }
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    /* content: "prev"; */
    content: "";
    background: url(../img/swiper-arrow-prev.png)no-repeat center center;
    background-size: contain;
    @include min{
      width: 24px;
      height: 18px;
    }
    @include max{
      width: spvw(33);
      height: spvw(24.75);
    }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    left: auto;
    @include min{
      right: -32px;
    }
    @include max{
      right: spvw(-20);
    }
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    /* content: "next"; */
    content: "";
    background: url(../img/swiper-arrow-next.png)no-repeat center center;
    background-size: contain;
    @include min{
      width: 24px;
      height: 18px;
    }
    @include max{
      width: spvw(33);
      height: spvw(24.75);
    }
  }
  .swiper-pagination-bullet {
    width: auto;
    display: inline-block;
    box-sizing: border-box;
    font-weight: 500;
    position: relative;
    @include min{
      font-size: 20px;
      padding: 0 20px;
      margin-bottom: 30px;
    }
    @include max{
      font-size: spvw(28);
      margin: 0 spvw(20) spvw(40);
    }
    &::before{
      position: absolute;
      content: "";
      left: 50%;
      transform: translateX(-50%);
      background: $theme-color;
      width: 0px;
      transition: all .3s;
      opacity: 0;
      @include min{
       height: 3px;
       bottom: -10px;
      }
      @include max{
        height: spvw(4);
        bottom: spvw(-15);
      }
    }
    &::after{
      content: "";
      position: absolute;
      width: 1px;
      height: 100%;
      background: #000;
      top: 0;
      @include min{
        right: 0;
      }
      @include max{
        right: spvw(-20);
      }
    }
    &:nth-child(1){
      @include max{
        margin-left: 0;
      }
    }
    &:nth-child(2){
      @include max{
        margin-right: 0;
      }
      &::after{
        @include max{
          content: none;
        }
      }
    }
    &:nth-child(3){
      @include max{
        margin-left: 0;
      }
    }
    &:nth-child(5){
      @include max{
        margin-right: 0;
      }
      &::after{
        @include max{
          content: none;
        }
      }
    }
    &:nth-child(6){
      &::after{
        @include min{
          content: none;
        }
      }
    }
    &:nth-child(7){
      &::after{
        @include max{
          content: none;
        }
      }
    }
    &:nth-child(9){
      &::after{
        @include max{
          content: none;
        }
      }
    }
    &:last-child{
      &::after{
        content: none;
      }
    }
  }
  .swiper-pagination-bullet-active {
    color: $theme-color;
    position: relative;
    font-weight: bold;
     &::before{
       position: absolute;
       content: "";
       left: 50%;
       transform: translateX(-50%);
       background: $theme-color;
       @include min{
        width: 60px;
        height: 3px;
        bottom: -10px;
        opacity: 1;
       }
       @include max{
        width: spvw(88);
        height: spvw(4);
        bottom: spvw(-15);
        opacity: 1;
       }
     }
  }
  .text-box{
    background: #fff;
    margin: 0 auto;
    @include min {
      z-index: 1;
      width: 1000px;
      height: 348px;
      padding: 48px 297px 48px 48px;
      bottom: 80px;
      border-radius: 4px 40px 40px 40px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    @include max{
      z-index: 2;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      width: spvw(630);
      position: relative;
      padding: spvw(48) spvw(28) spvw(48) spvw(40);
      border-radius: spvw(4) spvw(40) spvw(40) spvw(40);
      margin-top: spvw(250);
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.16);
    }
  }
  .slide-title{
    position: absolute;
    background: $theme-color;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-family: $urw-din-font;
    font-weight: 500;
    color: #fff;
    letter-spacing: 0.1em;
    left: 0;
    @include min {
      width: 100px;
      height: 40px;
      font-size: 18px;
      border-radius: 16px 16px 16px 4px;
      top: -48px;
    }
    @include max{
      width: spvw(120);
      height: spvw(48);
      font-size: spvw(20);
      border-radius: spvw(16) spvw(16) spvw(16) spvw(4);
      top: spvw(-56);
    }
  }
  .title{
    font-weight: bold;
    text-align: left;
    @include min {
      font-size: 32px;
    }
    @include max{
      font-size: spvw(40);
      width: 100%;
    }
  }
  .list{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    @include min {
      margin-top: 20px;
    }
    @include max{
      margin-top: spvw(16);
    }
  }
  .list-item{
    color: $theme-color;
    background: #E6E9F4;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    @include min {
      font-size: 16px;
      margin-right: 12px;
      margin-top: 12px;
      padding: 0 12px 2px;
      border-radius: 4px 16px 16px 16px;
      height: 32px;
    }
    @include max{
      margin-right: spvw(15);
      margin-top: spvw(24);
      padding: spvw(4) spvw(16) spvw(7);
      border-radius: spvw(4) spvw(20) spvw(20) spvw(20);
      height: spvw(40);
      font-size: spvw(20);
      flex-wrap: wrap;
    }
    &:last-child{
      margin-right:0;
      @include max{
      }
    }
  }
  .text{
    text-align: left;
    line-height: 2;
    @include min {
      font-size: 16px;
      margin-top: 27px;
    }
    @include max{
      font-size: spvw(24);
      margin-top: spvw(20);
    }
  }
  .smartphone-img{
    position: absolute;
    @include min {
      right: 10px;
      top: -136px;
      width: 270px;
      height: 474px;
    }
    @include max{
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      top: spvw(240);
      width: spvw(468);
    }
  }
  .relatedsolution{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include min {
      margin-top: 16px;
    }
    @include max{
      font-size: spvw(24);
      flex-wrap: wrap;
      margin-top: spvw(20);
    }
  }
  .relatedsolution-title{
    font-weight: bold;
    @include min {
      font-size: 18px;
    }
    @include max{
      font-size: spvw(28);
      width: 100%;
      text-align: left;
      display: block;
    }
  }
  .relatedsolution-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include min {
    }
    @include max{
      flex-wrap: wrap;
    }
  }
  .relatedsolution-list-item{
    @include min {
    }
    @include max{
      width: 100%;
      text-align: left;
      display: block;
    }
  }
  .relatedsolution-list-item-link{
    color: #377CEA;
    display: inline-block;
    position: relative;
    font-weight: bold;
    @include min {
      font-size: 16px;
      margin-right: 20px;
      opacity: 1;
      transition: all .3s;
      padding-bottom: 2px;
    }
    @include max{
      line-height: 1.33333333;
      font-size: spvw(24);
      padding-bottom: spvw(4);
      margin-top: spvw(24);
    }
    &::before{
      content: "";
      position: absolute;
      background: #377CEA;
      width: 100%;
      left: 0;
      @include min {
        height: 2px;
        bottom: -2px;
      }
      @include max{
        height: spvw(4);
        bottom: spvw(2);
      }
    }
    &:hover{
      @include min {
        opacity: .6;
      }
      @include max{
      }
    }
  }
}
.example-block{
  text-align: center;
  width: 100%;
  position: relative;
  @include min {
    max-width: 1302px;
    min-width: 1160px;
    margin: 80px auto 0;
  }
  @include max{
  }
  .swiper-container-example {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    /* Fix of Webkit flickering */
    z-index: 1;
    @include min{
      margin-top: 120px;
      max-width: 1304px;
      padding: 40px 32px;
    }
    @include max{
      margin-top: spvw(72);
      padding: spvw(48) spvw(40);
    }
  }
  .swiper-slide-example01{
    @include min{
      /* box-shadow */
      box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.16);
    }
    @include max{
      /* box-shadow */
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.16);
    }
  }
  .swiper-slide-example{
    position: relative;
    text-align: center;
    @include min{
      width: 100%;
      border-radius: 8px 40px 40px 40px;
      /* box-shadow */
      /* box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.16); */
      height: 600px;
      padding: 350px 40px 40px;
    }
    @include max{
      border-radius: spvw(8) spvw(40) spvw(40) spvw(40);
      /* box-shadow */
      /* box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.16); */
      height: spvw(600);
      padding: spvw(375) spvw(30) spvw(40);
    }
    >.swiper-slide-example-img{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      width: 100%;
    }
  }
  .swiper-button-prev-example,
  .swiper-button-next-example {
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #ffffff;
    @include min{
      width: 64px;
      height: 64px;
      margin-top: -116px;
      /* box-shadow */
      box-shadow: 6px 6px 16px 0px rgba(0,53,129,0.32);
    }
    @include max{
      width: spvw(88);
      height: spvw(88);
      margin-top: spvw(-132);
      /* box-shadow */
      box-shadow: spvw(6) spvw(6) spvw(16) 0px rgba(0,53,129,0.32);
    }
  }
  .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    right: auto;
    left: 0px;
    @include min{
    }
    @include max{
      left: spvw(20);
    }
  }
  .swiper-button-prev:after,
  .swiper-container-rtl .swiper-button-next:after {
    /* content: "prev"; */
    content: "";
    background: url(../img/swiper-arrow-prev.png)no-repeat center center;
    background-size: contain;
    @include min{
      /* left: -32px; */
      width: 24px;
      height: 18px;
    }
    @include max{
      width: spvw(33);
      height: spvw(24.75);
    }
  }
  .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    left: auto;
    @include min{
      right: 0px;
    }
    @include max{
      right: spvw(20);
    }
  }
  .swiper-button-next:after,
  .swiper-container-rtl .swiper-button-prev:after {
    /* content: "next"; */
    content: "";
    background: url(../img/swiper-arrow-next.png)no-repeat center center;
    background-size: contain;
    @include min{
      width: 24px;
      height: 18px;
    }
    @include max{
      width: spvw(33);
      height: spvw(24.75);
    }
  }
  .swiper-pagination-bullet {
    background: #FFFFFF;
    display: inline-block;
    @include min{
      width: 48px;
      height: 8px;
      margin: 0 8px;
      border-radius: 4px;
      transition: all .3s;
    }
    @include max{
      width: spvw(64);
      height: spvw(16);
      margin: 0 spvw(12);
      border-radius: spvw(8);
    }
  }
  .swiper-pagination-bullet-active {
    background: #3A5D9F;
  }
  .title{
    color: #fff;
    font-weight: bold;
    text-align: left;
    line-height: 1.6;
    @include min {
      font-size: 40px;
    }
    @include max{
      font-size: spvw(40);
    }
  }
  .text{
    color: #fff;
    font-weight: 500;
    line-height: 1;
    text-align: left;
    @include min {
      font-size: 16px;
      margin-top: 16px;
    }
    @include max{
      margin-top: spvw(16);
      font-size: spvw(24);
    }
  }
}
.result-block{
  @include min {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @include max{
    padding: 0 spvw(20);
  }
  .item {
    background: #FFFFFF;
    @include min {
      width: 360px;
      height: 360px;
      margin-left: 40px;
      padding: 48px 32px 30px 40px;
      border-radius: 40px;
      /* box-shadow */
      box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.16);
    }
    @include max{
      margin-top: spvw(48);
      width: spvw(630);
      padding: spvw(48) spvw(32) spvw(30) spvw(45);
      border-radius: spvw(40);
      /* box-shadow */
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.16);
    }
    &:first-child{
      @include min {
        margin-left: 0;
        margin-top: 80px;
      }
      @include max{
        margin-top: spvw(75);
      }
    }
    &:nth-child(2){
      @include min {
        margin-top: 40px;
      }
      @include max{
      }
    }
    &:nth-child(3){
      @include min {
      }
      @include max{
      }
    }
  }
  
  .title{
    font-weight: 700;
    position: relative;
    color: $theme-color;
    display: inline-block;
    @include min {
      font-size: 73px;
      padding-right: 68px;
    }
    @include max{
      padding-right: spvw(92.73);
      font-size: spvw(99);
    }
    &::before{
      content: "";
      position: absolute;
      background: url(../img/result-arrow-img.png)no-repeat center center;
      background-size: contain;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      @include min {
        width: 68px;
        height: 88px;
      }
      @include max{
        width: spvw(92.73);
        height: spvw(120);
      }
    }
    >span{
      @include min {
        font-size: 51px;
      }
      @include max{
        font-size: spvw(65);
      }
    }
  }
  .text{
    color:#333333;
    text-align: left;
    @include min {
      line-height: 2;
      margin-top: 35px;
      font-size: 16px;
    }
    @include max{
      margin-top: spvw(33);
      font-size: spvw(24);
      line-height: 1.6666667;
    }
    >span{
      font-weight: bold;
      color: #1A1A1A;
    }
  }
}
.results-company-block{
  margin: 0 spvw(40);
  background: #FFFFFF;
  @include min {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
    max-width: 1240px;
    width: 100%;
    min-width: 1160px;
    height: 550px;
    border-radius: 48px;
    margin-top: 80px;
    /* box-shadow */
    box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.24);
  }
  @include max{
    padding: spvw(48) spvw(20) spvw(94);
    width: 90%;
    border-radius: spvw(40);
    margin-top: spvw(80);
    /* box-shadow */
    box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.24);
  }
  > .img{
    @include min {
      width: 701px;
      height: 469px;
    }
    @include max{
      width: spvw(629);
      height: spvw(421);
    }
  }
  .text-box{
    @include min {
      margin-left: 37px;
    }
    @include max{
      padding: 0 spvw(20);
    }
  }
  .title{
    font-weight: bold;
    color: #1A1A1A;
    @include min {
      font-size: 32px;
    }
    @include max{
      line-height: 1;
      margin-top: spvw(45);
      font-size: spvw(32);
    }
  }
  .text{
    line-height: 2;
    color: #1A1A1A;
    @include min {
      margin-top: 24px;
      font-size: 16px;
    }
    @include max{
      margin-top: spvw(26);
      font-size: spvw(24);
    }
  }
}
.usefulcontents-block {
  @include min {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
  @include max{
    margin-top: spvw(120);
    padding: 0 spvw(20);
  }
  >.item{
    background: #FFFFFF;
    position: relative;
    @include min {
      width: 354px;
      height: 494px;
      padding: 38px 40px 40px;
      border-radius: 4px 24px 24px 24px;
      margin-left: 49px;
      /* box-shadow */
      box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.24);
    }
    @include max{
      width: 100%;
      padding: spvw(72) spvw(48) spvw(64);
      border-radius: spvw(4) spvw(24) spvw(24) spvw(24);
      margin-top: spvw(80);
      /* box-shadow */
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.24);
    }
    &:first-child{
      margin: 0;
    }
    >img{
      @include min {
        width: 178px;
        height: 151.54px;
        margin-left: 6px;
      }
      @include max{
        width: spvw(265.47);
        height: spvw(226);
      }
    }
    >.lead{
      color: $theme-color;
      font-weight: bold;
      text-align: left;
      @include min {
        font-size: 16px;
        line-height: 1.5;
        margin-top: 20px;
      }
      @include max{
        font-size: spvw(24);
        margin-top: spvw(64);
        line-height: 1.66666667;
      }
    }
    >.text{
      color: #000;
      font-weight: 500;
      text-align: left;
      @include min {
        margin-top: 15px;
        font-size: 18px;
        line-height: 1.7777;
      }
      @include max{
        font-size: spvw(28);
        margin-top: spvw(14);
        line-height: 1.71428;
      }
    }
    >.c-btn{
      @include min {
        bottom: 40px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      @include max{
        margin-top: spvw(35);
      }
    }
  }
}
.faq-block{
  @include min {
    margin-top: 120px;
  }
  @include max{
    margin-top: spvw(120);
  }
  >.item{
    @include min {
      margin-top: 32px;
    }
    @include max{
      margin-top: spvw(48);
    }
    &:first-child{
      margin: 0;
    }
  }
  .question{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background: #FFFFFF;
    z-index: 1;
    @include min {
      cursor: pointer;
      height: 80px;
      border-radius: 40px 40px 40px 4px;
      padding: 36px 48px 36px 88px;
      /* box-shadow */
      box-shadow: 6px 6px 16px 0px rgba(33, 78,150,0.16);
    }
    @include max{
      height: spvw(120);
      border-radius: spvw(64) spvw(64) spvw(64) spvw(4);
      padding: spvw(18) spvw(99) spvw(21) spvw(108);
      /* box-shadow */
      box-shadow: spvw(6) spvw(6) spvw(16) 0px rgba(33, 78,150,0.16);
    }
    span{
      font-family: $roboto-font;
      text-align: left;
      color: #377CEA;
      font-weight: bold;
      position: absolute;
      @include min{
        font-size: 32px;
        line-height: 1;
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
      }
      @include max{
        font-size: spvw(40);
        line-height: 1;
        left: spvw(33);
      }
    }
    &::before{
      content: "";
      position: absolute;
      background-color: #377CEA;
      top: 50%;
      transform: translateY(-50%);
      @include min{
        width: 24px;
        height: 4px;
        right: 42px;
      }
      @include max{
        width: spvw(48);
        height: spvw(8);
        right: spvw(40);
        border-radius: spvw(4);
      }
    }
    &::after{
      content: "";
      position: absolute;
      background-color: #377CEA;
      transform: translateY(-50%)rotate(90deg);
      transition: all 0.3s;
      top: 50%;
      @include min{
        width: 24px;
        height: 4px;
        right: 42px;
      }
      @include max{
        width: spvw(48);
        height: spvw(8);
        right: spvw(40);
        border-radius: spvw(8);
      }
    }
    &.active{
      &::after{
        transform: translateY(-50%)rotate(0deg);
        transition: all 0.3s;
        @include min{
        }
        @include max{
  
        }
      }
    }
  }
  .text-question {
    font-weight: 500;
    text-align: left;
    @include min {
      font-size: 18px;
    }
    @include max{
      font-size: spvw(28);
      line-height: 1.71428571;
    }
  }
  .answer{
    display: none;
    background: #F5F7FA;
    position: relative;
    @include min {
      border-radius: 4px 40px 40px 40px;
      padding: 26px 48px 26px 32px;
    }
    @include max{
      border-radius: spvw(4) spvw(64) spvw(64) spvw(64);
      padding: spvw(30) spvw(32) spvw(39) spvw(40);
    }
  }
  .text-answer-wrap{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    @include min {
    }
    @include max{
    }
    >span{
      font-family: $roboto-font;
      font-weight: bold;
      text-align: left;
      color: $theme-color;
      @include min {
        font-size: 32px;
        line-height: 1;
        margin-right: 34px;
      }
      @include max{
        font-size: spvw(40);
        line-height: 1;
        margin-right: spvw(31);
      }
    }
  }
  .text-answer{
    text-align: left;
    color: #000000;
    @include min{
      font-size: 16px;
      line-height: 2;
    }
    @include max{
      font-size: spvw(24);
      line-height: 2;
    }
  }
}
.contact-block{
  @include min {
    width: 480px;
    margin: 0 auto;
  }
  @include max{
    margin: spvw(70) auto 0;
  }
}

.introduction-flow-block{
  @include min {
    margin-top: 40px;
    display: flex;
  }
  @include max{
  }
  .item{
    background-color: #ffffff;
    text-align: center;
    @include min {
      width: 360px;
      height: 490px;
      padding: 44px 40px 39px 39px;
      border-radius: 40px;
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);
      margin-left: 40px;
    }
    @include max{
      padding: spvw(39) spvw(40) spvw(34) spvw(30);
      border-radius: spvw(40);
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78, 150, 0.16);
      margin: spvw(56) auto;
    }
    &:first-child{
      @include min {
        margin: 0 auto;
      }
      @include max{
      }
    }
  }
  .number{
    text-align: center;
    color: #ffc80f;
    font-weight: bold;
    @include min {
      width: 130px;
      font-size: 40px;
      letter-spacing: 1.6px;
      margin: 0 auto;
    }
    @include max{
      margin: 0 auto;
      font-size: spvw(40);
    }
    >svg{
      @include min {
        margin-top: 9px;
      }
      @include max{
        display: block;
        width: spvw(83.9);
        height: spvw(79.1);
        margin: spvw(9) auto;
      }
    }
  }
  .title{
    font-weight: bold;
    color: #214589;
    word-break: keep-all;
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-feature-settings: "palt" 1; */
    @include min {
      font-size: 32px;
      line-height: 1.46875;
      height: 94px;
      margin: 15px auto 0;
    }
    @include max{
      font-size: spvw(32);
      line-height: 1.46875;
      margin: spvw(20) auto 0;
    }
  }
  .text{
    text-align: left;
    color: #333333;
    @include min {
      font-size: 16px;
      line-height: 2;
      margin-top: 21px;
    }
    @include max{
      line-height: 1.67;
      margin: spvw(35) 0 0;
      font-size: spvw(24);
    }
  }
}
.security-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include max{
    margin-top: spvw(57);
    padding: 0 spvw(20);
  }
  .item{
    background-color: #ffffff;
    @include min {
      width: 360px;
      height: 279px;
      border-radius: 40px;
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);
      padding: 34px 32px 50px;
      margin: 59px 40px 0 0;
    }
    @include max{
      width: 100%;
      height: spvw(284);
      padding: spvw(48) spvw(36) spvw(30);
      border-radius: spvw(40);
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78, 150, 0.16);
      margin-top: spvw(48);
    }
    &:nth-child(3n){
      @include min {
        margin: 42px 0 0;
      }
    }
    &:first-child{
      @include max {
        margin: 0;
      }
    }
    >.title{
      font-weight: bold;
      color: #1a1a1a;
      line-height: 1.28;
      @include min {
        font-size: 32px;
        text-align: center;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      @include max{
        font-size: spvw(32);
        text-align: left;
      }
    }
    >.text{
      text-align: left;
      color: #1a1a1a;
      @include min {
        font-size: 16px;
        line-height: 2;
        margin-top: 15px;
      }
      @include max{
        font-size: spvw(24);
        margin-top: spvw(32);
        line-height: 1.67;
      }
    }
  }
}
.support-block {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include max{
    margin-top: spvw(57);
    padding: 0 spvw(20);
  }
  .item{
    background-color: #ffffff;
    @include min {
      width: 560px;
      height: 212px;
      border-radius: 40px;
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);
      padding: 40px 32px 50px;
      margin: 42px 0 0 40px;
    }
    @include max{
      width: 100%;
      height: spvw(284);
      padding: spvw(48) spvw(36) spvw(30);
      border-radius: spvw(40);
      box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78, 150, 0.16);
      margin-top: spvw(48);
    }
    &:nth-child(odd){
      @include min {
        margin: 42px 0 0;
      }
    }
    &:first-child{
      @include max {
        margin: 0;
      }
    }
    >.title{
      font-weight: bold;
      color: #1a1a1a;
      line-height: 1.28;
      @include min {
        font-size: 32px;
        text-align: center;
      }
      @include max{
        font-size: spvw(32);
        text-align: left;
      }
    }
    >.text{
      text-align: left;
      color: #1a1a1a;
      @include min {
        font-size: 16px;
        line-height: 2;
        margin-top: 30px;
      }
      @include max{
        font-size: spvw(24);
        margin-top: spvw(32);
        line-height: 1.67;
      }
    }
  }
}
.customers-voice-block{
  position: relative;
  @include min {
    padding: 14px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  @include max{
    padding: 0 spvw(20);
  }
  > img{
    @include min {
      width: 360px;
      height: 390px;
    }
    @include max{
      width: spvw(290);
      height: spvw(313);
      margin: 0 auto;
    }
  }
  .text-box {
    background-color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    @include min {
      padding: 33px 40px 33px 38px;
      border-radius: 4px 40px 40px 40px;
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);
      text-align: center;
      margin-left: -20px;
    }
    @include max{
      width: 100%;
      padding: spvw(40);
      border-radius: spvw(4) spvw(40) spvw(40) spvw(40);
      box-shadow: spvw(8) spvw(8) spvw(20) 0px rgba(33, 78,150,0.16);
      margin-top: spvw(20);
    }
    >.title{
      display: inline-flex;
      align-items: center;
      color: #ffffff;
      font-weight: bold;
      background-color: #214589;
      @include min {
        justify-content: center;
        letter-spacing: 1.6px;
        font-size: 20px;
        height: 40px;
        padding: 5.2px 20px 5.8px 16px;
        border-radius: 16px 16px 16px 4px;
      }
      @include max{
        justify-content:  flex-start;
        padding: spvw(10) spvw(15) spvw(9);
        border-radius: spvw(16) spvw(16) spvw(16) spvw(4);
        font-size: spvw(20);
        width: spvw(130);
        height: spvw(48);
      }
    }
    >.name{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      color: #1a1a1a;
      font-weight: bold;
      width: 100%;
      @include min {
        font-size: 24px;
        margin-top: 20px;
      }
      @include max{
        margin-top: spvw(20);
        font-size: spvw(32);
        text-align: left;
        line-height: 1.28;
      }
    }
    .logo{
      display: inline-block;
      @include min {
        margin-right: 20px;
        height: 70px;
      }
      @include max{
        margin-right: spvw(20);
        height: spvw(70);
      }
    }
    .logo-jcb{
      @include min {
        width: 94px;
        height: 70px;
      }
      @include max{
        width: spvw(94);
        height: spvw(70);
      }
    }
    .logo-webcrew{
      @include min {
        width: 320px;
        height: 70px;
      }
      @include max{
        width: spvw(320);
        height: spvw(70);
      }
    }
    .logo-orico{
      @include min {
        width: 200px;
        height: 70px;
      }
      @include max{
        width: spvw(200);
        height: spvw(70);
      }
    }
    >.text{
      text-align: left;
      color: #1a1a1a;
      line-height: 2;
      @include min {
        font-size: 16px;
        margin-top: 15px;
      }
      @include max{
        font-size: spvw(24);
        margin-top: spvw(15);
      }
    }
  }
}
.feature-page-nav-block {
  display: flex;
  justify-content: center;
  align-items: center;
  @include min {
    padding: 25px 0 30px;
  }
  @include max{
    padding: spvw(24) 0;
  }
  .item{
    position: relative;
    text-align: center;
    @include min {
      padding: 0 39px;
      width: 386px;
    }
    @include max{
      padding: 0 spvw(40);
      width: spvw(250);
    }
    &::after{
      content: "";
      position: absolute;
      background: #1A1A1A;
      height: 100%;
      top: 0;
      right: 0;
      width: 1px;
      @include min {
      }
      @include max{
      }
    }
    &:first-child{
      &::before{
        content: "";
        position: absolute;
        background: #1A1A1A;
        height: 100%;
        @include min {
          left: 0;
          width: 1px;
        }
        @include max{
        }
      }
    }
    &:last-child{
      &::after{
        @include max{
          content: none;
        }
      }
    }
    >a{
      text-align: center;
      color: #000000;
      font-weight: bold;
      margin: 0 auto;
      position: relative;
      @include min {
        font-size: 22px;
        transition: all .3s;
      }
      @include max{
        font-size: spvw(24);

      }
      &:hover{
        @include min {
          color: #214589;
        }
        @include max{
        }
      }
    }
    &.current{
      a{
        color: #214589;
        pointer-events: none;
        @include min {
        }
        &::before{
          content: "";
          position: absolute;
          background: $theme-color;
          transform: translateX(-50%);
          left: 50%;
          right: 0;
          @include min {
            width: 60px;
            height: 3px;
            bottom: -7px;
          }
          @include max{
            width: spvw(60);
            height: spvw(4);
            bottom: spvw(-7);
          }
        }
      }
    }
  }
}

.merit-list-block{
  @include min {
    color: #214589;
  }
  @include max{
  }
  >.item{
    @include min {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 100px;
    }
    @include max{
      display: flex;
      flex-wrap: wrap-reverse;
      margin-top: spvw(100);
    }
    &:first-child{
      @include min {
        margin-top: 0;
      }
      @include max{
      }
    }
    &:nth-child(odd){
      @include min {
        flex-direction: row;
      }
      @include max{
      }
      .text-box{
        @include min {
          margin-right: 44px;
        }
        @include max{
        }
      }
      .text-comment{
        @include min {
          border-radius: 24px 4px 24px 24px;
        }
        @include max{
        }
      }
    }
    &:nth-child(even){
      @include min {
        flex-direction: row-reverse;
      }
      @include max{
      }
      .text-box{
        @include min {
          margin-left: 44px;
        }
        @include max{
        }
      }
      .text-comment{
        @include min {
          border-radius: 4px 24px 24px 24px;
        }
        @include max{
        }
      }
    }
  }
  .text-box{
    @include min {
      /* margin-right: 44px; */
    }
    @include max{
      padding: 0 spvw(20);
    }
  }
  .title{
    color: #1a1a1a;
    font-weight: bold;
    @include min {
      text-align: left;
      font-size: 40px;
      line-height: 1;
    }
    @include max{
      font-size: spvw(40);
      line-height: 1.6;
      letter-spacing: -0.8px;
      text-align: center;
      margin-top: spvw(40);
    }
  }
  .text{
    text-align: left;
    @include min {
      margin-top: 35px;
      font-size: 16px;
      line-height: 2;
      color: #1a1a1a;
    }
    @include max{
      font-size: spvw(24);
      line-height: 2;
      color: #000000;
      margin-top: spvw(40);
    }
  }
  .text-comment{
    background-color: #ffffff;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
    color: $theme-color;
    @include min {
      padding: 30px 27px 30px 32px;
      box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.16);    
      margin-top: 35px;
      font-size: 24px;
    }
    @include max{
      margin-top: spvw(35);
      font-size: spvw(32);
      padding: spvw(30.9) spvw(42) spvw(34.1) spvw(35);
      border-radius: spvw(40);
      box-shadow: spvw(8) spvw(8) spvw(20) 0px rgba(33, 78,150,0.16);
    }
  }
  .text-notes{
    text-align: left;
    color: #1a1a1a;
    @include min {
      font-size: 14px;
      margin-top: 24px;
    }
    @include max{
      font-size: spvw(20);
      line-height: 1.6;
      margin-top: spvw(24);
    }
  }
  .img{
    @include min {
      width: 556px;
      height: 372px;
    }
    @include max{
      width: 100%;
    }
  }
}
.about-sms-block {
  @include min {
    margin-right: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  @include max{
  }
  >.text-box{
    @include min {
      margin-right: 85px;
      margin-top: 80px;
    }
    @include max{
      padding-left: spvw(33);
    }
    >.text{
      text-align: left;
      color: #333333;
      font-weight: bold;
      position: relative;
      @include min {
        font-size: 24px;
        line-height: 1.33;
        letter-spacing: 0.96px;
        padding-left: 59px;
        margin-top: 40px;
      }
      @include max{
        font-size: spvw(32);
        line-height: 1.5;
        padding-left: spvw(59);
        margin-top: spvw(40);
      }
      &::before{
        content: "";
        position: absolute;
        background: url(../img/about-sms-checkbox.png)no-repeat center center;
        background-size: contain;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        @include min {
          width:  45px;
          height: 40px;
        }
        @include max{
          width: spvw(45);
          height: spvw(40);
        }
      }
    }
  }
  >.img{
    @include min {
      width: 656px;
      height: 501px;
    }
    @include max{
      display: block;
      margin-top: spvw(50);
    }
  }
}

.trouble-solution-block  {
  @include min {
    display: none
  }
  @include max{
    margin-top: spvw(70);
  }
  >.text-box{
    @include max{
      padding: spvw(45) spvw(32);
      border-radius: spvw(40);
      background-color: #ffffff;
      position: relative;
    }
    &::before{
      @include max{
        content: "";
        position: absolute;
        bottom: spvw(-46);
        left: 50%;
        transform: translateX(-50%);
        border-left: spvw(50) solid transparent;
        border-right: spvw(50) solid transparent;
        border-top: spvw(46) solid #ffffff;     
      }
    }
    >.text-checkbox{
      @include max{
        text-align: left;
        color: #333333;
        font-weight: bold;
        position: relative;
        line-height: 1.5;
        font-size: spvw(32);
        padding-left: spvw(59);
        margin-top: spvw(40);
      }
      &:first-child{
        @include max{
          margin-top: 0;
        }
      }
      &::before{
        @include max{
          content: "";
          position: absolute;
          background: url(../img/trouble-solution-img-sp01.png)no-repeat center center;
          background-size: contain;
          left: 0;
          top: spvw(10);
          width: spvw(45);
          height: spvw(40);
        }
      }
    }
  }
  >.text{
    @include max{
      margin-top: spvw(70);
      font-size: spvw(48);
      font-weight: 900;
      text-align: center;
      color: #ff7f00;
    }
  }
}