.c-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background: #377CEA;
  position: relative;
  box-sizing: border-box;
  @include min {
    width: 400px;
    height: 64px;
    border-radius: 64px;
    font-size: 20px;
    transition: all .3s;
    border: solid 2px #377CEA;
    /* box-shadow */
    box-shadow: 8px 8px 20px 0px rgba(33, 78,150,0.24);
    margin: 48px auto 0;
  }
  @include max{
    width: spvw(510);
    height: spvw(100);
    border-radius: spvw(50);
    font-size: spvw(28);
    transition: all .3s;
    /* box-shadow */
    box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78,150,0.24);
    margin: spvw(80) auto 0;
    padding-bottom: spvw(3);
    line-height: 0.96;
  }
  &::before{
    position: absolute;
    content: "";
    background: url(../img/c-btn-arrow.png)no-repeat center center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    @include min {
      width: 12px;
      height: 14px;
      right: 24px;
      opacity: 1;
      transition: all .3s;
    }
    @include min-max{
    }
    @include max{
      width: spvw(24);
      height: spvw(28);
      right: spvw(40);
    }
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #377CEA;
    }
    @include max{
    }
    &::before{
      @include min {
        right: 15px;
        opacity: 0;
      }
      @include max{
      }
    }
  }
}
.c-btn--orange{ 
  background-color: #ff7f00;
  position: relative;
  box-sizing: border-box;
  @include min {
    border: solid 2px #FF7F00;
  }
  @include max{
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #FF7F00;
    }
    @include min-max{
    }
    @include max{
    }
    &::before{
      @include min {
        right: 15px;
        opacity: 0;
      }
      @include min-max{
      }
      @include max{
      }
    }
  }
}
.c-btn--splarge{ 
  @include max{
    width: spvw(550);
  }
}
.c-btn--spsmall{
  @include max{
    height: spvw(88);
  }
  &::before{
    @include max{
      right: spvw(32);
    }
  }
}
.c-btn--small{
  @include min {
    width: 274px;
    height: 48px;
    border-radius: 48px;
    font-size: 20px;
  }
  @include max{
    width: spvw(470);
    height: spvw(88);
    border-radius: spvw(50);
    font-size: spvw(28);
  }
  &::before{
    background: url(../img/c-btn-arrow.png)no-repeat center center;
    background-size: contain;
    @include min {
      width: 12px;
      height: 14px;
      right: 24px;
    }
    @include min-max{
    }
    @include max{
      width: spvw(24);
      height: spvw(28);
      right: spvw(40);
    }
  }
  &:hover{
    &::before{
      @include min {
        right: 15px;
        opacity: 0;
      }
      @include min-max{
      }
      @include max{
      }
    }
  }
}
.c-btn--mainvisual{
  margin: 0 auto;
  @include min {
    width: 350px;
    height: 48px;
    border-radius: 48px;
    font-size: 20px;
    box-shadow: 8px 8px 20px 0 rgba(33, 78, 150, 0.24);
  }
  @include max{
    width: spvw(350);
    height: spvw(48);
    border-radius: spvw(24);
    font-size: spvw(20);
    box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(33, 78, 150, 0.24);
  }
  &::before{
    @include min {
    }
    @include max{
      width: spvw(12);
      height: spvw(14);
      right: spvw(20);
    }
  }
}
.c-btn--download{
  position: relative;
  &::before{
    position: absolute;
    content: "";
    background: url(../img/c-btn-download.png)no-repeat center center;
    background-size: contain;
    @include min {
      width: 14px;
      height: 14px;
      right: 20px;
    }
    @include min-max{
    }
    @include max{
    }
  }
  &:hover{
    &::before{
      @include min {
        right: 20px;
        top: 70%;
      }
      @include min-max{
      }
      @include max{
      }
    }
  }
}
.c-btn--list{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  @include min {
    width: 280px;
    height: 48px;
    bottom: 40px;
    /* margin: 25px auto 0; */
  }
  @include max{
    width: spvw(510);
    height: spvw(88);
    bottom: spvw(48);
  }
  &::before{
    background: url(../img/c-btn-arrow.png)no-repeat center center;
    background-size: contain;
    @include min {
      width: 12px;
      height: 14px;
      right: 20px;
    }
    @include min-max{
    }
    @include max{
      width: spvw(24);
      height: spvw(28);
      right: spvw(33);
    }
  }
}
.contact-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background: #FF7F00;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  @include min {
    width: 480px;
    height: 88px;
    border-radius: 88px;
    font-size: 28px;
    transition: all .3s;
    border: solid 2px #FF7F00;
  }
  @include max{
    border-radius: spvw(60);
    width: spvw(610);
    height: spvw(120);
    font-size: spvw(32);
    box-shadow: spvw(8) spvw(8) spvw(20) 0 rgba(124,77,31,0.24);
  }
  &::before{
    position: absolute;
    content: "";
    background: url(../img/c-btn-arrow.png)no-repeat center center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    @include min {
      width: 12px;
      height: 14px;
      right: 24px;
      transition: all .3s;
    }
    @include min-max{
    }
    @include max{
      width: spvw(24);
      height: spvw(28);
      right: spvw(48);
    }
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #FF7F00;
    }
    @include min-max{
    }
    @include max{
    }
    &::before{
      @include min {
        right: 15px;
        opacity: 0;
      }
      @include min-max{
      }
      @include max{
      }
    }
  }
}
.agency-btn{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ffffff;
  background: #11C97B;
  position: relative;
  box-sizing: border-box;
  @include min {
    width: 320px;
    height: 64px;
    border-radius: 64px;
    font-size: 20px;
    transition: all .3s;
    margin: 48px auto 0;
    border: solid 2px #11C97B;
  }
  @include max{
    width: spvw(510);
    height: spvw(100);
    border-radius: spvw(50);
    font-size: spvw(28);
    transition: all .3s;
    margin: spvw(48) auto 0;
    box-shadow: 8px 8px 20px 0px rgba(124,77,31,0.24);
  }
  &::before{
    position: absolute;
    content: "";
    background: url(../img/c-btn-arrow.png)no-repeat center center;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
    @include min {
      width: 12px;
      height: 14px;
      right: 24px;
      opacity: 1;
      transition: all .3s;
    }
    @include min-max{
    }
    @include max{
      width: spvw(24);
      height: spvw(28);
      right: spvw(40);
    }
  }
  &:hover{
    @include min {
      background: #ffffff;
      color: #11C97B;
    }
    @include min-max{
    }
    @include max{
    }
    &::before{
      @include min {
        right: 15px;
        opacity: 0;
      }
      @include min-max{
      }
      @include max{
      }
    }
  }
}