.page-heading-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  @include min {
    width: 522px;
    margin: 0 auto;
  }
  @include min-max{
    width: pcvw(351.73);
    margin: 0 auto pcvw(80);
  }
  @include max{
    width: spvw(351.73);
    margin: 0 auto spvw(80);
    top: 42%;
  }
}
.page-heading {
  display: inline-block;
  @include min {
    font-size: 180px;
  }
  @include min-max{
    font-size: pcvw(121.62);
  }
  @include max{
    font-size: spvw(121.62);
  }
}
.page-heading--small {
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.025em;
  @include min {
    font-size: 62px;
  }
  @include min-max{
    font-size: pcvw(41.89);
  }
  @include max{
    font-size: spvw(41.89);
    white-space: nowrap;
  }
}
.page-heading--lower {
  line-height: 1;
  color: #ffffff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  @include min {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
  }
  @include min-max{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: pcvw(150)
  }
  @include max{
    font-size: spvw(100);
    width: spvw(450);
    display: block;
    margin-top: spvw(-100);
  }
  > span{
    display: inline-block;
    @include min {
      margin-left: 32px;
    }
    @include min-max{
      margin-left: pcvw(32);
    }
    @include max{
      margin-top: spvw(32);
    }
  }
  
}
.page-heading--gallery{
  @include min {
    width: 486px;
    height: 146px;
  }
  @include min-max{
    width: pcvw(486);
    height: pcvw(146);
  }
  @include max{
    width: spvw(333);
    height: spvw(100);
  }
}
.page-heading--studio{
  @include min {
    width: 406px;
    height: 146px;
  }
  @include min-max{
    width: pcvw(406);
    height: pcvw(146);
  }
  @include max{
    width: spvw(278);
    height: spvw(100);
  }
}
.page-heading--store{
  @include min {
    width: 364px;
    height: 146px;
  }
  @include min-max{
    width: pcvw(364);
    height: pcvw(146);
  }
  @include max{
    width: spvw(260);
    height: spvw(100);
  }
}
.nav-heading-block{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  @include min {
    width: 351.73px;
    margin: 0 auto 80px;
  }
  @include min-max{
    width: pcvw(351.73);
    margin: 0 auto pcvw(80);
  }
  @include max{
    width: spvw(351.73);
    margin: 0 auto spvw(80);
  }
}

.nav-heading {
  display: inline-block;
  font-weight: bold;
  color: #ffffff;
  @include min {
    font-size: 121.62px;
    width: 351px;
  }
  @include min-max{
    font-size: pcvw(121.62);
    width: pcvw(351);
  }
  @include max{
    font-size: spvw(121.62);
    width: spvw(351);
  }
}
.nav-heading--small {
  color: #ffffff;
  display: inline-block;
  margin: 0 auto;
  @include min {
    font-size: 41.89px;
  }
  @include min-max{
    font-size: pcvw(41.89);
  }
  @include max{
    font-size: spvw(41.89);
  }
}

.section-heading-block {
  position: relative;
  @include min {
    padding-top: 50px;
    display: inline-block;
    margin: 0 auto;
  }
  @include min-max{
    padding-top: pcvw(50);
  }
  @include max{
    padding-top: spvw(50);
  }
}
.section-heading{
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  line-height: 0.84;
  @include min {
    font-size: 100px;
  }
  @include min-max{
    font-size: pcvw(100);
  }
  @include max{
    font-size: spvw(100);
  }
}
.section-heading--lower{
  font-weight: 600;
  display: inline-block;
  color: #ffffff;
  line-height: 0.84;
  @include min {
    font-size: 80px;
  }
  @include min-max{
    font-size: pcvw(80);
  }
  @include max{
    font-size: spvw(80);
  }
}
.section-heading--small{
  font-weight: bold;
  display: inline-block;
  color: #ffffff;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.84;
  @include min {
    font-size: 32px;
  }
  @include min-max{
    font-size: pcvw(32);
  }
  @include max{
    font-size: spvw(32);
  }
}
.footer-heading-block {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  @include min {
    width: 266.73px;
    margin: 0 auto;
  }
  @include min-max{
    width: pcvw(266.73);
    margin: 0 auto pcvw(50);
  }
  @include max{
    width: spvw(266.73);
    margin: 0 auto spvw(50);
  }
}
.footer-heading {
  display: inline-block;
  @include min {
    font-size: 92.23px;
  }
  @include min-max{
    font-size: pcvw(92.23);
  }
  @include max{
    font-size: spvw(92.23);
  }
}
.footer-heading--small{
  display: inline-block;
  margin: 0 auto;
  font-weight: 500;
  letter-spacing: 0.025em;
  @include min {
    font-size: 31.77px;
  }
  @include min-max{
    font-size: pcvw(31.77);
  }
  @include max{
    font-size: spvw(31.77);
    white-space: nowrap;
  }
}
.footer-company-logo-heading {
  margin: 0 auto;
  font-weight: 400;
  text-align: center;
  @include min {
    font-size: 20px;
  }
  @include min-max{
    font-size: pcvw(20);
  }
  @include max{
    font-size: spvw(24);
  }
}