.section-heading{
  font-weight: bold;
  color: $theme-color;
  @include min {
    font-size: 48px;
  }
  @include min-max{
  }
  @include max{
  }
}
.block-heading{
  @include min {
    font-size: 40px;
    font-weight: bold;
  }
  @include min-max{
  }
  @include max{
  }
}
.text-heading{
  @include min {
  }
  @include min-max{
  }
  @include max{
  }
}
