.page-heading{
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  line-height: 1;
  color: #ffffff;
  @include min {
    font-size: 60px;
    padding-top: 75px;
  }
  @include max{
    font-size: spvw(60);
    line-height: 1.48333333;
  }
}
.page-heading--faq{
  @include min {
    font-size: 60px;
  }
  @include max{
    font-size: spvw(48);
  }
}
.page-heading--small{
  @include min {
    padding-top: 35px;
  }
  @include max{
  }
}
.page-heading--withbtn{
  @include min {
    padding-top: 34px;
  }
  @include max{
  }
}
.page-heading--withtext{
  @include min {
    padding-top: 7px;
  }
  @include max{
  }
}
.section-heading{
  font-weight: bold;
  color: $theme-color;
  @include min {
    font-size: 48px;
    letter-spacing: 4.8px;
  }
  @include max{
    font-size: spvw(48);
  }
}
.section-heading-sp2line{
  @include max{
    line-height: 1.4792667;
  }
}
.block-heading{
  @include min {
    font-size: 40px;
    font-weight: bold;
  }
  @include max{
  }
}
.text-heading{
  @include min {
  }
  @include max{
  }
}
