.mainvisual-img-smartphone-wrap {
  position: relative;
  height: 100%;
  width: 100%;
}

.mainvisual-img-smartphone-display {
  position: absolute;
  @include min {
    left: 31px;
    top: 40px;
    width: 284px;
  }
  @include max {
    left: spvw(31);
    top: spvw(40);
    width: spvw(284);
  }
  img {
    width: 100%;
    height: auto;
  }
}

.mainvisual-img-smartphone-display01 {
  z-index: 4;
}

.mainvisual-img-smartphone-display02 {
  z-index: 2;
}

.mainvisual-img-smartphone-display03 {
  z-index: 1;
}

.mainvisual-img-smartphone-cursol {
  position: absolute;
  z-index: 3;
  opacity: 0;
  @include min {
    width: 70px;
    left: 230px;
    top: 270px;
  }
  @include max {
    width: spvw(70);
    left: spvw(230);
    top: spvw(270);
  }
}

.mainvisual-img-smartphone-ripple {
  position: absolute;
  z-index: 3;
  @include min {
    left: 220px;
    top: 260px;
  }
  @include max {
    left: spvw(210);
    top: spvw(260);
  }
  &.active{
    .ripple{
      &:before{
        content: "";
        position: absolute;
        left: 30%;
        top: 0;
        border: 2px solid #333;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        opacity: 1;
        animation: 1s circleanime forwards;
        @include max {
          width: spvw(60);
          height: spvw(60);
        }
      }
    }
  }
}

.mainvisual-img-smartphone-ripple-wrap{
  position: relative;
}

.ripple {
  position: relative;
  display: inline-block;
  margin: 0 10px 20px 10px;
  text-decoration: none;
  color: #333;
  outline: none;
}

/*波形の設定*/
.ripple.active::before {
  
}

/*波形が広がるアニメーション*/
@keyframes circleanime {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(2);
    opacity: 0;
  }
}
