
.page-text{
  text-align: center;
  color: #ffffff;
  @include min {
    font-size: 18px;
    margin-top: 35px;
    line-height: 2.22;
  }
  @include max{
    font-size: spvw(24);
    font-weight: 500;
    line-height: 1.67;
    margin-top: spvw(40);
  }
}
.page-text--withbtn{
  text-align: center;
  color: #ffffff;
  @include min {
    font-size: 16px;
    margin-top: 35px;
    line-height: 1.67;
  }
  @include max{
    font-size: spvw(24);
    font-weight: 500;
    line-height: 1.67;
    margin-top: spvw(40);
  }
}
.section-text{
  @include min {
  }
  @include max{
  }
}

.section-text-large{
  font-weight: bold;
  color: $theme-color;
  @include min {
    font-size: 48px;
    letter-spacing: 1.92px;
    line-height: 1.2;
  }
  @include max{
    font-size: spvw(48);
    line-height: 1.47916667;
  }
}
.section-lead{
  color: #333333;
  @include min {
    font-size: 18px;
    line-height: 2.22;
    margin-top: 71px;
  }
  @include max{
    font-size: spvw(28);
    line-height: 2;
    margin-top: spvw(71);
    font-weight: 500;
    font-feature-settings: "palt" 1;
  }
}
.section-lead--contact{
  @include min {
    margin-top: 48px!important;
  }
  @include max{
    font-size: spvw(24);
    line-height: 2;
    margin-top: spvw(70);
    font-weight: 500;
  }
}
.section-lead--result{
  @include min {
    margin-top: 48px!important;
  }
  @include max{
  }
}
.text-link{
  text-decoration: underline;
  @include min {
    opacity: 1;
    transition: all .3s;
    cursor: pointer;
  }
  @include max{
  }
  &:hover{
    @include min {
      text-decoration: none;
      opacity: .6;
    }
  }
}