
doctype html
- var page = 'index'
- var keywords = ''
- var description = ''
- var title = ''
html(lang='ja')
  include inc/_head
  body#top
    include inc/_gtm
    .wrapper
      include inc/_header
      section#mainvisual.section.section-mainvisual
        .mainvisual-block.mainvisual-block--top
          .inner
            .lead 国内シェアNo.1のSMS送信サービス
            h1.title
              picture
                source(srcset='assets/img/mainvisual-title.png' media='(min-width: 769px)')
                source(srcset='assets/img/mainvisual-title-sp.png' media='(max-width: 768px)')
                img(src="assets/img/mainvisual-title.png", alt="空電プッシュ") 
            .text 空電プッシュは、SMS（ショートメッセージ）を
              br
              |一斉/個別に送信する法人向けサービスです。
              br
              |簡単・確実に顧客とのコンタクトを実現します。
            .mainvisual-img-smartphone
              .mainvisual-img-smartphone-wrap
                .mainvisual-img-smartphone-display.mainvisual-img-smartphone-display01
                  img(src="assets/img/mainvisual-img-item01.png", alt="")
                .mainvisual-img-smartphone-display.mainvisual-img-smartphone-display02
                  img(src="assets/img/mainvisual-img-item02.png", alt="")
                .mainvisual-img-smartphone-display.mainvisual-img-smartphone-display03
                  img(src="assets/img/mainvisual-img-item03.png", alt="")
                .mainvisual-img-smartphone-ripple
                  .mainvisual-img-smartphone-ripple-wrap
                    .ripple
                .mainvisual-img-smartphone-cursol
                  img(src="assets/img/mainvisual-img-cursol.svg", alt="")
              //- picture
              //-   source(srcset='assets/img/mainvisual-img01.png' media='(min-width: 769px)')
              //-   source(srcset='assets/img/mainvisual-img-sp01.png' media='(max-width: 768px)')
              //-   img(src="assets/img/mainvisual-img01.png", alt="スマートフォン") 
            .mainvisual-img-award
              picture
                source(srcset='assets/img/mainvisual-img02.png' media='(min-width: 769px)')
                source(srcset='assets/img/mainvisual-img-sp02.png' media='(max-width: 768px)')
                img(src="assets/img/mainvisual-img02.png", alt="NTTコム オンライン") 
        .company-block 
          .item 
            img(src="assets/img/company-img04.png", alt="日本生命")
          .item 
            img(src="assets/img/company-img03.png", alt="東京海上日動")
          .item 
            img(src="assets/img/company-img07.png", alt="大東建託")
          .item 
            img(src="assets/img/company-img06.png", alt="TOYOTA")
          .item 
            img(src="assets/img/company-img05.png", alt="Panasonic")
          .item 
            img(src="assets/img/company-img08.png", alt="JT")
      section#infomation.section.section-infomation
        .inner
          .infomation-block
            h2.title information
            ul.list 
              li.item
                a(href="") 
                  p.date 2021.04.01
                  p.text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              li.item
                a(href="") 
                  p.date 2021.04.01
                  p.text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
              li.item
                a(href="") 
                  p.date 2021.04.01
                  p.text テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      section#merit.section.section-merit
        .inner
          h2.section-heading SMSのメリット
          p.section-lead SMSは「メール・電話はなかなか連絡が取れない」
            br.sp
            |「郵便は反応がわからない」「メールは開封されない」
            br.sp
            |などの
            br.pc
            |顧客とのコミュニケーション課題を解決します。
        .merit-block
          picture
            source(srcset='assets/img/top-merit-img.png' media='(min-width: 769px)')
            source(srcset='assets/img/top-merit-img-sp.png' media='(max-width: 768px)')
            img(src="assets/img/top-merit-img.png", alt="SMSのメリット")
        a(href="merit.html").c-btn.c-btn--splarge.pcmt0 SMSのメリットを詳しく見る
      section#feature.section.section-feature
        .inner
          p.section-lead.pcmt0.spmt0 国内SMS送信市場　
            strong 5年連続シェア No.1
          h2.section-heading.pcmt30.spmt40 空電プッシュの特長
          .feature-block 
            .item
              h3.title 高いセキュリティで
                br
                |お客様情報をしっかり守る
              .text-box 
                p.text お客様の情報を守るために、携帯キャリアとの直接接続や送信元
                  br.pc
                  |番号指定などさまざまなセキュリティ対策を実施。安心してご利用い
                  br.pc
                  |ただけます。
                a(href="feature01.html").c-btn.c-btn--spsmall.pcmt30.spmt20 セキュリティの詳細はこちら
            .item 
              h3.title 高い送信性能と
                br.pc
                |圧倒的な到達率
              .text-box 
                p.text 国内最大規模の送信性能により大規模案件でも遅延なく送信できます。
                  br
                  |また携帯キャリアとの直接接続で99.9％の到達率（自社調べ）と
                  br.pc
                  |通信品質に圧倒的な差があります。
                a(href="feature02.html").c-btn.c-btn--spsmall.pcmt30.spmt20 送信性能の詳細はこちら
            .item 
              h3.title スピード導入と
                br.pc
                |充実のサポート
              .text-box 
                p.text 申し込み後、最短3営業日でご利用いただけます。導入前も導入後も
                  br.pc
                  |専任担当者がきめ細やかにサポート。24時間365日電話での故障問い
                  br.pc
                  |合わせ窓口など、お客様のサービスをしっかり支えます。
                a(href="feature03.html").c-btn.c-btn--spsmall.pcmt30.spmt20 導入・サポートの詳細はこちら
      section#function.section.section-function
        .inner
          h2.section-heading 豊富な機能
          p.section-lead さまざまなニーズに応える豊富な機能に加えて
            br
            |約20年間分の番号履歴を元に誤送信防止する機能
            br.sp
            |や権限設定など管理機能も充実しています。
          .function-block
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img01.png", alt="個別/一斉送信")
              .text 個別/一斉送信
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img02.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp02.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img02.png", alt="API連携")
              .text API連携
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img03.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp03.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img03.png", alt="IVR連携")
              .text IVR連携
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img04.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp04.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img04.png", alt="送信元番号指定")
              .text 送信元
                br
                |番号指定
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img05.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp05.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img05.png", alt="長文分割機能")
              .text 長文
                br
                |分割機能
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img06.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp06.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img06.png", alt="携帯番号履歴判定")
              .text 携帯番号
                br
                |履歴判定
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img07.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp07.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img07.png", alt="短縮URL機能")
              .text 短縮URL機能
            .item
              .img-box
                picture.function-img
                  source(srcset='assets/img/top-function-img08.png' media='(min-width: 769px)')
                  source(srcset='assets/img/top-function-img-sp08.png' media='(max-width: 768px)')
                  img(src="assets/img/top-function-img08.png", alt="双方向SMS")
              .text 双方向SMS
          a(href="function.html").c-btn.pcmt80 詳細はこちら
      section#scene.section.section-scene
        .inner
          h2.section-heading.section-heading-sp2line 空電プッシュは様々な業界で選ばれています
          .scene-block
            .swiper-pagination.swiper-pagination-scene
            .swiper-container.swiper-container-scene
              .swiper-wrapper
                .swiper-slide.swiper-slide-scene.swiper-slide01
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene01.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp01.png' media='(max-width: 768px)')
                    img(src="assets/img/scene01.png", alt="クレジットカード")
                  img(src="assets/img/scene-phone-sp01.png", alt="スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE01
                    h3.title クレジットカード
                    ul.list 
                      li.list-item 支払い状況通知
                      li.list-item 本人認証
                      li.list-item キャンペーン・特典案内
                      li.list-item 電話問い合わせ時のWebサイト誘導
                      li.list-item 各種連絡
                    p.text 毎月の利用状況や、支払いに関する連絡
                      br.sp
                      |キャンペーン情報の連絡に活用いただけます。
                      br.sp
                      |また、スマートフォンアプリにクレジットカード登録する際の本人認証としても活用できます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="/karadenpush/ivr.html").relatedsolution-list-item-link IVRと連携したSMS送信
                    img(src="assets/img/scene-phone01.png", alt="クレジットカード スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide02
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene02.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp02.png' media='(max-width: 768px)')
                    img(src="assets/img/scene02.png", alt="銀行・消費者ローン")
                  img(src="assets/img/scene-phone-sp02.png", alt="銀行・消費者ローン　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE02
                    h3.title 銀行・消費者ローン
                    ul.list 
                      li.list-item 支払い状況通知
                      li.list-item キャンペーン・特典案内
                      li.list-item 窓口の順番連絡
                      li.list-item 電話問い合わせ時のWebサイト誘導
                      li.list-item 各種連絡
                    p.text サービス申込時のお手続き連絡や、支払い・送金に関する連絡、特典やキャンペーンなどの連絡に活用できます。
                      br.sp
                      |また、スマートフォンから送金する際の本人認証としても活用できます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="/karadenpush/ivr.html").relatedsolution-list-item-link IVRと連携したSMS送信
                    img(src="assets/img/scene-phone02.png", alt="銀行・消費者ローン　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide03
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene03.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp03.png' media='(max-width: 768px)')
                    img(src="assets/img/scene03.png", alt="電気・ガス・水道・ISP")
                  img(src="assets/img/scene-phone-sp03.png", alt="電気・ガス・水道・ISP　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE03
                    h3.title 電気・ガス・水道・ISP
                    ul.list 
                      li.list-item 工事日時の事前連絡
                      li.list-item ご利用料金連絡
                      li.list-item 障害情報連絡
                    p.text 工事日や修理日の事前連絡やご利用料金の連絡、障害が発生した場合の一斉連絡に活用できます。
                    img(src="assets/img/scene-phone03.png", alt="電気・ガス・水道・ISP　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide04
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene04.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp04.png' media='(max-width: 768px)')
                    img(src="assets/img/scene04.png", alt="不動産サービス")
                  img(src="assets/img/scene-phone-sp04.png", alt="不動産サービス　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE04
                    h3.title 不動産サービス
                    ul.list 
                      li.list-item 入居者向け各種連絡
                      li.list-item 支払い状況通知
                      li.list-item 送付書類のリマインド
                    p.text 入居者さまとのやり取りや手続きなどの各種連絡、家賃などの支払い状況連絡に活用できます。
                    img(src="assets/img/scene-phone04.png", alt="不動産サービス　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide05
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene05.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp05.png' media='(max-width: 768px)')
                    img(src="assets/img/scene05.png", alt="生・損保会社")
                  img(src="assets/img/scene-phone-sp05.png", alt="生・損保会社　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE05
                    h3.title 生・損保会社
                    ul.list 
                      li.list-item 保険請求時の各種ご案内
                      li.list-item 商品の満足度調査
                      li.list-item オペレーターの対応品質調査
                      li.list-item 電話問い合わせ時のWebサイト誘導
                    p.text 保険請求時のご案内や、その後のお客様満足度調査、対応品質調査に活用いただけます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="/karadenpush/ivr.html").relatedsolution-list-item-link IVRと連携したSMS送信
                        li.relatedsolution-list-item 
                          a(href="").relatedsolution-list-item-link SMSアンケートソリューション
                    img(src="assets/img/scene-phone05.png", alt="生・損保会社　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide06
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene06.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp06.png' media='(max-width: 768px)')
                    img(src="assets/img/scene06.png", alt="引越・物流")
                  img(src="assets/img/scene-phone-sp06.png", alt="引越・物流　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE06
                    h3.title 引越・物流
                    ul.list 
                      li.list-item 配達日時の連絡
                      li.list-item 作業日のリマインド
                      li.list-item 作業員の対応品質調査
                    p.text お客様宛の荷物の配達日時を事前に連絡したり、引越などの作業日をリマインドできます。また、お客様満足度調査をお送りすることも可能です。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="").relatedsolution-list-item-link SMSアンケートソリューション
                    img(src="assets/img/scene-phone06.png", alt="引越・物流　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide07
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene07.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp07.png' media='(max-width: 768px)')
                    img(src="assets/img/scene07.png", alt="美容・エステ・スポーツクラブ")
                  img(src="assets/img/scene-phone-sp07.png", alt="美容・エステ・スポーツクラブ　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE07
                    h3.title 美容・エステ・スポーツクラブ
                    ul.list 
                      li.list-item 予約完了連絡
                      li.list-item 予約日時のリマインド
                      li.list-item キャンペーン・特典案内
                    p.text お客様がWebサイトや電話で予約いただいた後、予約日時をリマインドとして連絡したり、お得なキャンペーンや特典案内をお送りすることができます。
                    img(src="assets/img/scene-phone07.png", alt="美容・エステ・スポーツクラブ　スマートフォン").smartphone-img.pc.pc
                .swiper-slide.swiper-slide-scene.swiper-slide08
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene08.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp08.png' media='(max-width: 768px)')
                    img(src="assets/img/scene08.png", alt="派遣/人材紹介・採用")
                  img(src="assets/img/scene-phone-sp08.png", alt="派遣/人材紹介・採用　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE08
                    h3.title 派遣/人材紹介・採用
                    ul.list 
                      li.list-item 面接前後の各種連絡
                      li.list-item 就業状況確認
                    p.text 人材派遣・紹介業界において候補者との面接日程や面接場所、必要な書類などの連絡に活用できます。また、候補者の現在の就業状況確認アンケートにも活用いただけます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="").relatedsolution-list-item-link SMSアンケートソリューション
                    img(src="assets/img/scene-phone08.png", alt="派遣/人材紹介・採用　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide09
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene09.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp09.png' media='(max-width: 768px)')
                    img(src="assets/img/scene09.png", alt="鉄道・船舶・航空")
                  img(src="assets/img/scene-phone-sp04.png", alt="鉄道・船舶・航空　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE09
                    h3.title 鉄道・船舶・航空
                    ul.list 
                      li.list-item チケット購入完了連絡
                      li.list-item チェックイン締切時刻連絡
                      li.list-item 欠航連絡
                    p.text チケットを購入されたお客様に対して、購入完了連絡や、チェックイン時間の連絡、欠航などの連絡に活用いただけます。
                    img(src="assets/img/scene-phone09.png", alt="鉄道・船舶・航空　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide10
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene10.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp10.png' media='(max-width: 768px)')
                    img(src="assets/img/scene10.png", alt="コールセンター")
                  img(src="assets/img/scene-phone-sp10.png", alt="コールセンター　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE10
                    h3.title コールセンター
                    ul.list 
                      li.list-item 電話問い合わせ時のWebサイト誘導
                      li.list-item オペレーターの対応品質調査
                    p.text 時間外の問い合わせやあふれ呼対策として、音声ガイダンス(IVR)によりお客様のニーズや問い合わせ内容にあったSMSを送信できます。またコールセンターの品質調査にも活用できます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="/karadenpush/ivr.html").relatedsolution-list-item-link IVRと連携したSMS送信
                        li.relatedsolution-list-item 
                          a(href="").relatedsolution-list-item-link SMSアンケートソリューション
                    img(src="assets/img/scene-phone10.png", alt="コールセンター　スマートフォン").smartphone-img.pc
                .swiper-slide.swiper-slide-scene.swiper-slide11
                  picture.swiper-slide-scene-img
                    source(srcset='assets/img/scene11.png' media='(min-width: 769px)')
                    source(srcset='assets/img/scene-sp11.png' media='(max-width: 768px)')
                    img(src="assets/img/scene11.png", alt="自治体")
                  img(src="assets/img/scene-phone-sp11.png", alt="自治体　スマートフォン").smartphone-img.sp
                  .text-box
                    span.slide-title CASE11
                    h3.title 自治体
                    ul.list 
                      li.list-item 住民への特定検診の連絡
                      li.list-item 予防接種等の予約サイト誘導
                      li.list-item 税金の支払い状況通知
                      li.list-item 各種連絡
                    p.text 各都道府県・市区町村から住民への情報発信に活用いただけます。また、予防接種等の予約サイト誘導にも活用できます。
                    .relatedsolution
                      p.relatedsolution-title 関連ソリューション：
                      ul.relatedsolution-list
                        li.relatedsolution-list-item 
                          a(href="").relatedsolution-list-item-link 空電プッシュ for LGWAN
                        li.relatedsolution-list-item 
                          a(href="/karadenpush/ivr.html").relatedsolution-list-item-link IVRと連携したSMS送信
                    img(src="assets/img/scene-phone11.png", alt="自治体　スマートフォン").smartphone-img.pc
            // 前ページボタン
            .swiper-button-prev.swiper-button-prev-scene
            // 次ページボタン
            .swiper-button-next.swiper-button-next-scene
            a(href="scene.html").c-btn.pcmt0 活用シーン一覧
      section#result.section.section-result
        .inner
          h2.section-heading.section-heading-sp2line.text-left-pc 空電プッシュの確かな実績
            br.sp
            |と効果
          p.section-lead.section-lead--result.text-left-pc 約８割が効果を実感！
            br.sp
            |豊富な実績を支える確かな効果
          .result-block
            .item
              .title
                span ＋
                |70
                span ％
              .text 家賃の未納者に対して連絡したところ、
                br.pc
                span 70％以上のレスポンスがあり、
                br.pc
                |オペレーターの人員削減につながった。
            .item
              .title
                span ＋
                |85
                span ％
              .text 震災で被災されたご契約者へ安否確認
                br.pc
                |と契約・お支払いの案内をするため、
                br.pc
                |フリーダイヤルへコールバックの依頼
                br.pc
                |をしたところ、
                span 85％以上のレスポンス
                br.pc
                |が得られた。
            .item
              .title 4
                span 倍
              .text カード利用明細登録のURLを案内した
                |ところ、
                span Web
                  br.sp
                  |サイトへの誘引がEメール
                  |の4倍以上
                |となった。
        .results-company-block
          picture.img
            source(srcset='assets/img/result-company-img.png' media='(min-width: 769px)')
            source(srcset='assets/img/result-company-img-sp.png' media='(max-width: 768px)')
            img(src="assets/img/result-company-img.png", alt="さまざまな業界での導入実績")
          .text-box
            h3.title さまざまな業界での導入実績
            p.text おかげさまで多くのお客様からご利用いただき、
              br
              |5年連続国内SMS業界シェアNo.1を達成しました。
              br
              |高いレベルでのセキュリティ、配信スペック、サポートを
              br.pc
              |評価していただいております。
      section#example.section.section-example
        .inner
          h2.section-heading.font-white 導入事例
        .example-block
          .swiper-container.swiper-container-example
            .swiper-wrapper.swiper-wrapper-example
              .swiper-slide.swiper-slide-example.swiper-slide-example01
                picture.swiper-slide-example-img
                  source(srcset='assets/img/example-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/example-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/example-img01.png", alt="空電プッシュのスピーディな導入で自然災害への対応を効率化")
                .title 空電プッシュのスピーディな導入で
                  br.pc
                  |自然災害への対応を効率化
                .text 三井住友海上火災保険様
              .swiper-slide.swiper-slide-example.swiper-slide-example02
                picture.swiper-slide-example-img
                  source(srcset='assets/img/example-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/example-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/example-img01.png", alt="")
              .swiper-slide.swiper-slide-example.swiper-slide-example03
                picture.swiper-slide-example-img
                  source(srcset='assets/img/example-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/example-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/example-img01.png", alt="")
              .swiper-slide.swiper-slide-example.swiper-slide-example04
                picture.swiper-slide-example-img
                  source(srcset='assets/img/example-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/example-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/example-img01.png", alt="")
              .swiper-slide.swiper-slide-example.swiper-slide-example05
                picture.swiper-slide-example-img
                  source(srcset='assets/img/example-img01.png' media='(min-width: 769px)')
                  source(srcset='assets/img/example-img-sp01.png' media='(max-width: 768px)')
                  img(src="assets/img/example-img01.png", alt="")
          // 前ページボタン
          .swiper-button-prev.swiper-button-prev-example
          // 次ページボタン
          .swiper-button-next.swiper-button-next-example
          .swiper-pagination-example
          a(href="scene.html").c-btn.pcmt80 導入事例一覧
      section#usefulcontents.section.section-usefulcontents
        .inner
          h2.section-heading お役立ちコンテンツ
          .usefulcontents-block
            .item
              img.img(src="assets/img/top-usefulcontents-img01.png", alt="顧客とのコンタクトに課題を抱えているご担当者様必見！")
              p.lead 顧客とのコンタクトに課題を
                br
                |抱えているご担当者様必見！
              p.text 着眼率90%を誇る顧客メッセージ
                br.pc
                |を確実に伝えるための手法はこれ
                br.pc
                |だ！
              a(href="").c-btn.c-btn--small.c-btn--download.pcmt40 ダウンロードする
            .item
              img.img(src="assets/img/top-usefulcontents-img02.png", alt="金融関係者必見！")
              p.lead 金融関係者必見！
              p.text 今、注目されている、着眼率90％
                br.pc
                |を誇る「連絡」や「督促」をタイ
                br.pc
                |ムリーかつ確実に伝えることがで
                br.pc
                |きる手法は、これだ！
              a(href="").c-btn.c-btn--small.c-btn--download.pcmt40 ダウンロードする
            .item
              img.img(src="assets/img/top-usefulcontents-img03.png", alt="コンタクト率驚異の99％？！従来のコミュニケーションとは一線を画す注目手法！")
              p.lead コンタクト率驚異の99％？！
                br
                |従来のコミュニケーションとは
                br
                |一線を画す注目手法！
              p.text 「SMS」が重宝される理由とは？
                br
                |7つの活用ケースから探る！
              a(href="").c-btn.c-btn--small.c-btn--download.pcmt40 ダウンロードする
          a(href="").c-btn.pcmt80 お役立ちコンテンツ一覧

      section#faq.section.section-faq
        .inner
          h2.section-heading よくある質問
          .faq-block 
            .item
              .question
                span Q1
                p.text.text-question MVMO（格安SIM）にもSMSを送ることは可能ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q2
                p.text.text-question 「送信元（From）」はアルファベット文字なども利用できますか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q3
                p.text.text-question 「送信元電話番号（From）」は指定できますか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
            .item
              .question
                span Q4
                p.text.text-question 送信文字数は何文字ですか？
              .answer
                .text-answer-wrap
                  span A
                  p.text.text-answer ドコモ、au、ソフトバンク回線を利用しているMVNOの携帯電話には、SMS送信可能です。ただし、SMS受信可能な端末でかつSMS契約
                    |を締結している携帯電話端末のみになります。
          a(href="faq.html").c-btn.pcmt80 よくある質問一覧
      section#contact.section.section-contact
        .inner
          h2.section-heading.font-white お問合せ
          p.section-lead.font-white 空電プッシュは、国内シェアNo.1の
            br.sp
            |法人向けSMS送信サービスです。
            br
            |ご不明な点はお気軽にお問い合わせください。
            br
            |利用用途や配信数に応じて最適なご提案をいたします。
          .contact-block
            a(href="").contact-btn.pcmt70 資料請求・お問合せ
            a(href="").agency-btn 代理店募集
      include inc/_footer
    